{% extends 'base_client_wrapper.twig' %}

{% block title %}БФ “Помогите Детям” | Мои пожертвования {% endblock %}
{% block desciption %}БФ “Помогите Детям” | Мои пожертвования {% endblock %}
{% block keywords %}Мои пожертвования {% endblock %}

{% block content %}
    <main>
        {% include 'components/account_title.twig' %}
        <div class="bg-purple-line"></div>
        <section class="section account section-with-bghearts">
            <div class="container container--small">
                <div class="account-wrapper">
                    {% include 'components/account_nav.twig' %}
                    <div class="account-content donation-history">
                        <h1 class="account-content__title donation-history-title account-content-padding">
                            Список моих пожертвований </h1>
                        <div class="donation-list account-content-padding">
                            <table class="donation-list-table">
                                <thead class="donation-list-table__head">
                                <tr>
                                    <th class="donation-list-table__head-col">Название</th>
                                    <th class="donation-list-table__head-col">Сумма</th>
                                    <th class="donation-list-table__head-col">Тип пожертвования</th>
                                    <th class="donation-list-table__head-col">Дата</th>
                                </tr>
                                </thead>
                                <tbody class="donation-list-table__body">
                                {% if entities is defined %}
                                    {% for req in entities %}
                                        <tr class="donation-list-table__row">
                                            <td class="donation-list-table__body-col">
                                                {{ req.recurent ? 'Регулярное п' : 'П' }}ожертвование {{ req.child is null ? 'фонду' : req.child.name }}
                                            </td>
                                            <td class="donation-list-table__body-col">
                                                {{ req.sum|number_format(2, '.', ' ') }} руб.
                                            </td>
                                            <td class="donation-list-table__body-col">{{ req.pm }}</td>
                                            <td class="donation-list-table__body-col">{{ req.createdAt|date('d m Y') }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
