{% extends 'base_client_wrapper.twig' %}

{% block content %}
    <main>
        {% include 'components/account_title.twig' %}
        <div class="bg-purple-line"></div>
        <section class="section account section-with-bghearts">
            <div class="container container--small">
                <div class="account-wrapper">
                    {% include 'components/account_nav.twig' %}
                    <div class="account-content fast-access">
                        <h1 class="account-content__title">Быстрый доступ</h1>
                        <img src="{{ qr_code_data_uri(url('referral', { id: app.user.id })) }}" alt="qrCode">
                        <div class="fast-access-cards">
                            <div class="fast-access-cards__item fast-access-card">
                                <div class="fast-access-card__title">Добавить регулярный платеж</div>
                                <div class="fast-access-card__content">
                                    Регулярное пожертвование — это пожертвование, которое оформляется однажды и затем
                                    каждый месяц
                                    автоматически списывается с вашей карты
                                </div>
                                <div class="fast-access-card__action">
                                    <a style="text-decoration:none; color: #000; text-align: center;" class="fast-access-card__action-button btn btn-orange" href="{{ path('donate') }}">Добавить</a>
                                </div>
                                <div class="fast-access-card__bgicon"
                                    style="background-image: url('/images/card-refresh-gray.png');"></div>
                            </div>
                            <div class="fast-access-cards__item fast-access-card">
                                <div class="fast-access-card__title">Список регулярных платежей</div>
                                <div class="fast-access-card__content">
                                    Посмотрите полный список ваших регулярных пожертвований. Регулярное пожертвование
                                    легко отключить,
                                    если у вас изменятся обстоятельства.
                                </div>
                                <div class="fast-access-card__action">
                                    <a style="text-decoration:none; color: #000; text-align: center;" class="fast-access-card__action-button btn" href="{{ path('account_recurrent') }}" >Посмотреть</a>
                                </div>
                                <div class="fast-access-card__bgicon"
                                    style="background-image: url('/images/card-list.png');"></div>
                            </div>
                            <div class="fast-access-cards__item fast-access-card">
                                <div class="fast-access-card__title">Заполните ваши данные</div>
                                <div class="fast-access-card__content">
                                    Для быстрой помощи заполнить личные данные. Для быстрой помощи заполнить личные
                                    данные. Для быстрой
                                    помощи заполнить личные данные.
                                </div>
                                <div class="fast-access-card__action">
                                   <a style="text-decoration:none; color: #000; text-align: center;" class="fast-access-card__action-button btn" href="{{ path('account_myaccount') }}" >Заполнить</a>
                                </div>
                                <div class="fast-access-card__bgicon"
                                    style="background-image: url('/images/card-user.png');"></div>
                            </div>
                            <div class="fast-access-cards__item fast-access-card">
                                <div class="fast-access-card__title">Дети</div>
                                <div class="fast-access-card__content">
                                    Мы - Благотворительный фон для детей больных ДЦП. Помогаем им от начала и
                                    сопровождаем их в течение
                                    жизни.Мы производим сбор средств только при оплате электронными способами.
                                </div>
                                <div class="fast-access-card__action">
                                    <a style="text-decoration:none; color: #000; text-align: center;" class="fast-access-card__action-button btn" href="{{ path('children_list') }}" >Посмотреть</a>
                                </div>
                                <div class="fast-access-card__bgicon"
                                    style="background-image: url('/images/card-kids.png');"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
