{% extends 'base_client_wrapper.twig' %}

{% block title %}БФ “Помогите Детям” | Реферальная программа{% endblock %}
{% block desciption %}БФ “Помогите Детям” | Реферальная программа{% endblock %}
{% block keywords %}Реферальная программа{% endblock %}

{% block content %}
    <main>
        {% include 'components/account_title.twig' %}
        <div class="bg-purple-line"></div>
        <section class="section account section-with-bghearts">
            <div class="container container--small">
                <div class="account-wrapper">
                    {% include 'components/account_nav.twig' %}
                    <div class="account-content referrals">
                        <h1 class="account-content__title referrals-title account-content-padding">Мои приглашенные</h1>
                        <div class="referrals-wrapper account-content-padding">
                            <div class="referrals-statistics">
                                <div class="referrals-statistics__notice">
                                    <p class="referrals-statistics__notice-text">
                                        Мы сделали благотворительность проще и доступнее. Теперь помочь всем не сложнее,
                                        чем пополнить
                                        телефон. Мы сделали благотворительность проще и доступнее. Теперь помочь всем не
                                        сложнее, чем
                                        пополнить телефон. Мы сделали благотворительность проще и доступнее. Теперь
                                        помочь всем не
                                        сложнее, чем пополнить телефон. </p>
                                    <button class="btn btn-dark referrals__invite-button"
                                        data-modal-trigger="modal-invite">Пригласить
                                    </button>
                                </div>
                                <div class="referrals-statistics__balance">
                                    <h2 class="referrals-statistics__balance-title">Баланс</h2>
                                    <div class="referrals-statistics__balance-sum">{{ app.user.rewardSum }} руб.</div>
                                    <button class="referrals-statistics__balance-payout btn btn-dark payout-button js-payout-button">
                                        Вывести
                                    </button>
                                </div>
                            </div>
                            <div class="referrals-list-wrapper">
                                <h2 class="referrals-list-title">Список приглашеных</h2>
                                <table class="referrals-list-table">
                                    <thead class="referrals-list-table__head">
                                    <tr>
                                        <th class="referrals-list-table__head-col">Почта</th>
                                        <th class="referrals-list-table__head-col">Дата регистрации</th>
                                        <th class="referrals-list-table__head-col">Начислено</th>
                                    </tr>
                                    </thead>
                                    <tbody class="referrals-list-table__body">
                                    {% for pair in entities %}
                                        <tr class="referrals-list-table__row">
                                            <td class="referrals-list-table__body-col">{{ pair[0].email }}</td>
                                            <td class="referrals-list-table__body-col">{{ pair[0].createdAt|date('d m Y') }}</td>
                                            <td class="referrals-list-table__body-col">{{ pair[1]|number_format(2, '.', ' ') }}
                                                руб.
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <div id="modal-invite" class="modal modal-invite" aria-hidden="true">
        <div class="modal__overlay" tabindex="-1" data-modal-close>
            <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-invite-title">
                <div class="modal__header">
                    <button class="modal__close" aria-label="Close modal" data-modal-close></button>
                </div>
                <div class="modal__content" id="modal-invite-content">
                    <h3 class="modal__title">Пригласите друзей</h3>
                    <p class="modal__subtitle">Покажите QR-код или используйте ссылку для пришлашения ваших друзей.</p>
                    <div class="qr-code">
                        <p class="mute">Ваш QR-код</p>
                        <img src="{{ qr_code_data_uri(url('referral', { id: app.user.id })) }}" alt="" width="300" height="300">
                    </div>
                    <div class="ref-link">
                        <p class="mute">Ваша реферальная ссылка</p>
                        <div class="copy-field">
                            <input class="input-rounded ref-link__input" type="text" value="{{ referral_url }}">
                            <button class="btn copy-btn js-copy-button" title="Скопировать">
                                <span class="icon icon-copy"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
