{% extends 'base_panel_wrapper.twig' %}

{% block content %}
    <div class="container">
        {% include 'panel/menu.twig' %}
        <div class="row" style="background-color: #f1f2f3; padding: 20px 40px;">
            <div class="col-sm">
                <h1>Рекуррентные подписки:</h1><br><span>Всего: {{rrs|length}}</span><br>
                <table class="table">
                    <thead>
                    <tr>
                        <!-- <th scope="col">#</th>    -->                       
                        <th scope="col">E-mail</th>
                        <th scope="col">Телефон</th>    
                        <th scope="col">Статус</th>
                        <th scope="col">Сумма</th>
                        <th scope="col">Число платежей</th>
                        <th scope="col">Дата создания</th>
                        <th scope="col">Дата последнего платежа</th>
                        <th scope="col">Дата следующего платежа</th>


                        <!-- <th scope="col">#</th>                        
                        <th scope="col">E-mail</th>
                        <th scope="col">Телефон</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Дата создания</th>
                        <th scope="col">Дата последнего платежа</th>
                        <th scope="col">Дата следующего платежа</th>
                        <th scope="col">Дата удаления</th> 
                        <th scope="col"></th>

                        <th scope="col">id пользователя</th>
                        <th scope="col">id реферера</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col">Сумма</th> -->
                    </tr>
                    </thead>
                    <tbody>
                    {% set statuses = {'Active': 'Активна', 'PastDue': 'Просрочена', 'Cancelled': 'Отменена', 'Rejected': 'Отклонена', 'Expired': 'Завершена'} %}
                    {% for rs in rrs %}
                        <tr {{'Active'==rs.status and rs.nsuc ? 'style="background: #79ff6120;"'}}>
                            <!-- <th scope="row">{{ rs.uid }}</th> -->
                            <td>{{ rs.mail}}</td>
                            <td>{{ rs.phone }}</td>
                            <td>{{ statuses[rs.status]}}</td>
                            <td>{{ rs.sum}}</td>
                            <td>{{ rs.nsuc}}</td>
                            <td>{{ rs.dtstart }}</td>
                            <td>{{ rs.dtlast}}</td>
                            <td>{{ rs.dtnext }}</td>
                            {# note: 
                            <td><a href="{{ path('panel_child_delete', {id: rs.uid}) }}">Удалить</a></td>
                            <!-- <th scope="row">{{ req.id }}</th>
                            <td>{{ req.user.email }}</td>
                            <td>{{ req.user.phone }}</td>
                            <td>{{ req.delAt ? 'Удалён' : 'Активен' }}</td>
                            <td>{{ req.CreatedAt|date('Y.m.d H:i') }}</td>
                            <td>{{ req.withdrawalAt|date('Y.m.d H:i') }}</td>
                            <td>{{ not req.delAt ? req.withdrawalAt|date_modify("+1 month")|date('Y.m.d H:i') }}</td>
                            <td>{{ req.delAt ? req.delAt|date('Y.m.d H:i') }}</td> -->

                            <!-- <td>{{ req.user.id }}</td>
                            <td>{{ req.user.referrer.id|default('') }}</td>
                            <td>{{ req.user.firstName }}</td>
                            <td>{{ req.user.lastName }}</td>
                            <td>{{ req.request.sum }}</td> -->#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
