{% extends 'base_client_wrapper.twig' %}

{% block content %}
    <ul>
    {% for error in formErrors %}
        <li> * {{ error }}</li>
    {% endfor %}
    </ul>
    <main>
        <section class="section hero-large">
            <div class="container">
                <h1 class="hero-large__title">Форма онлайн помощи</h1>
                <p class="hero-large__subtitle">помощь прямо сейчас за 3 шага</p>
            </div>
        </section>
        <div class="bg-purple-line"></div>
        <section class="section online-help section-with-bghearts">
            <div class="container container--small">
                <div class="online-help-wrapper">
                    <form class="online-help-form ohf" method="POST">
                        <input type="hidden"
                            name="child_id"
                            value="{{ form.child_id ?: '' }}">
                        <div class="ohf-row">
                            <div class="ohf-row__col ohf-col-label">
                                <div class="ohf-col-label__number">1</div>
                                <div class="ohf-col-label__notice">
                                    <div class="ohf-col-label__notice-title">Выберите способ оплаты</div>
                                    <p class="ohf-col-label__notice-subtitle">Выберите удобный вариант оплаты</p>
                                </div>
                            </div>
                            <div class="ohf-row__col ohf-col-input">
                                <div class="payment-type-fieldgroup toggle-fieldgroup toggle-fieldgroup--white">
                                    <label class="payment-type-fieldgroup__label toggle-field">
                                        <input class="toggle-field__input"
                                            type="radio"
                                            name="payment"
                                            value="visa"
                                            checked>
                                        <div class="toggle-field__text">
                                            <img class="toggle-field__text-image"
                                                src="/images/mastercard.png"
                                                width="30"/>
                                            <img class="toggle-field__text-image" src="/images/visa.png" width="40">
                                        </div>
                                    </label>
                                    <label class="payment-type-fieldgroup__label toggle-field toggle-field--disabled">
                                        <input class="toggle-field__input"
                                            type="radio"
                                            name="payment"
                                            value="internet-services"
                                            disabled>
                                        <div class="toggle-field__text">Интернет сервисы</div>
                                    </label>
                                    <label class="payment-type-fieldgroup__label toggle-field toggle-field--disabled">
                                        <input class="toggle-field__input"
                                            type="radio"
                                            name="payment"
                                            value="sms"
                                            disabled>
                                        <div class="toggle-field__text">Sms оплата</div>
                                    </label>
                                    <label class="payment-type-fieldgroup__label toggle-field toggle-field--disabled">
                                        <input class="toggle-field__input"
                                            type="radio"
                                            name="payment"
                                            value="account"
                                            disabled>
                                        <div class="toggle-field__text">Выставление счета</div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="ohf-row">
                            <div class="ohf-row__col ohf-col-label">
                                <div class="ohf-col-label__number">2</div>
                                <div class="ohf-col-label__notice">
                                    <div class="ohf-col-label__notice-title">Кто наш пожертвователь?</div>
                                    <p class="ohf-col-label__notice-subtitle">Мы хотим знать кого благодарить :)</p>
                                </div>
                            </div>
                            <div class="ohf-row__col ohf-col-input">
                                <div class="ohf-col-input__row">
                                    <input class="input-rounded input-fullwidth"
                                        type="text"
                                        name="fullName"
                                        placeholder="Введите Ваше ФИО"
                                        value="{{ form.fullName }}">
                                </div>
                                <div class="ohf-col-input__row">
                                    <input class="input-rounded ohf-col-input__row-item"
                                        type="text"
                                        name="phone"
                                        placeholder="Введите номер телефона"
                                        data-type="phone"
                                        value="{{ form.phone }}">
                                    <input class="input-rounded ohf-col-input__row-item ohf-col-input__row-item__notfirst"
                                        type="email"
                                        name="email"
                                        placeholder="Введите E-mail"
                                        value="{{ form.email }}">
                                </div>
                            </div>
                        </div>
                        <div class="ohf-row">
                            <div class="ohf-row__col ohf-col-label">
                                <div class="ohf-col-label__number">3</div>
                                <div class="ohf-col-label__notice">
                                    <div class="ohf-col-label__notice-title">Сумма пожертвования</div>
                                    <p class="ohf-col-label__notice-subtitle">Выберите тип оплаты</p>
                                </div>
                            </div>
                            <div class="ohf-row__col ohf-col-input">
                                <div class="ohf-col-input__row">
                                    <div class="donate-sum-fieldgroup toggle-fieldgroup">
                                        <label class="donate-sum-fieldgroup__label toggle-field">
                                            <input class="toggle-field__input" type="radio" name="sum" value="100"
                                                {{ 100 == form.sum ? 'checked' }}>
                                            <div class="toggle-field__text">100 Р</div>
                                        </label>
                                        <label class="donate-sum-fieldgroup__label toggle-field">
                                            <input class="toggle-field__input"
                                                type="radio"
                                                name="sum"
                                                value="500" {{ 500 == form.sum ? 'checked' }}>
                                            <div class="toggle-field__text">500 Р</div>
                                        </label>
                                        <label class="donate-sum-fieldgroup__label">
                                            <input class="donate-text-field"
                                                type="text"
                                                name="sumOther"
                                                value="{{ form.sumOther ?: '' }}"
                                                placeholder="Другая сумма">
                                        </label>
                                    </div>
                                </div>
                                <div class="ohf-col-input__row ohf-col-input__row--start">
                                    <div class="input-radio payment-count-field">
                                        <label class="input-radio__label">
                                            <input class="input-radio__input"
                                                type="radio"
                                                name="recurent"
                                                value="true"
                                                {{ form.recurent ? 'checked' }}>
                                            <span class="input-radio__radiomark"></span>
                                            <span class="input-radio__label">Регулярная оплата</span>
                                        </label>
                                    </div>
                                    <div class="input-radio payment-count-field">
                                        <label class="input-radio__label">
                                            <input class="input-radio__input"
                                                type="radio"
                                                name="recurent"
                                                {{ not form.recurent ? 'checked' }}>
                                            <span class="input-radio__radiomark"></span>
                                            <span class="input-radio__label">Единоразовая оплата</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ohf-row">
                            <div class="ohf-row__col ohf-col-label"></div>
                            <div class="ohf-row__col ohf-col-input">
                                <div class="ohf-col-input__row ohf-col-input__row--start">
                                    <div class="input-checkbox payment-count-field">
                                        <label class="input-checkbox__label">
                                            <input class="input-checkbox__input"
                                                type="checkbox"
                                                name="agreements"
                                                value="yes"
                                                {{ form.agree ? 'checked' }}>
                                            <span class="input-checkbox__checkmark"></span>
                                            <span class="input-checkbox__label">Я согласен с
                                                <a class="link--purple" href="docs/Public_offer.pdf" target="_blank">договором оферты</a>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="ohf-col-input__row ohf-col-input__row--start ohf-col-buttons">
                                    <button class="btn btn-dark btn--big online-help-form__submit js-online-help-button-submit"
                                        type="submit">
                                        Пожертвовать
                                    </button>
                                    {# <span class="online-help-form__or">или</span>
                                    <button class="btn btn-black btn--big btn-withicon online-help-form__applepay js-online-help-button-applepay"
                                        type="button">
                                        <span class="icon icon-apple"></span> <span>Оплатить</span>
                                    </button> #}
                                </div>
                                <div class="donate-form-payment-systems__notice online-help-form-payment-systems__notice">
                                    <div class="icon-wrapper"><span class="icon icon-lock"></span></div>
                                    <span>Все сделки защищены SSL, PSI DSS, <br>
                                        Персональный данные конфидициальны.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section class="section help-notice" id="section-help-notice">
            <div class="container container--small">
                <div class="help-notice-description">
                    <div class="help-notice-description-col help-notice-description-col-left">
                        <p class="help-notice-description-text">
                            <b>Уважаемый клиент!</b><br>
                            Вы можете произвести пожертвование с помощью предложенных методов оплат через платежный
                            сервис компании
                            Uniteller. После подтверждения Вы будете перенаправлены на защищенную платежную страницу
                            Uniteller, где
                            необходимо будет ввести данные для оплаты. После успешной оплаты на указанную в форме оплаты
                            электронную
                            почту будет направлен электронный чек с информацией об успешном совершении пожертвования.
                            <br><br>
                            <b>Гарантии безопасности</b><br>
                            Безопасность процессинга Uniteller подтверждена сертификатом стандарта безопасности данных
                            индустрии
                            платежных карт PCI DSS. Надежность сервиса обеспечивается интеллектуальной системой
                            мониторинга
                            мошеннических операций, а также применением 3D Secure - современной технологией безопасности
                            интернет-платежей. Данные Вашей карты вводятся на специальной защищенной платежной странице.
                            <br><br>
                            Передача информации в процессинговую компанию Uniteller происходит с применением технологии
                            шифрования
                            TLS. Дальнейшая передача информации осуществляется по закрытым банковским каналам, имеющим
                            наивысший
                            уровень надежности. Uniteller не передает данные Вашей карты магазину и иным третьим лицам!
                            <br>
                            Если Ваша карта поддерживает технологию 3D Secure, для осуществления платежа, Вам необходимо
                            будет
                            пройти дополнительную проверку пользователя в банке-эмитенте (банк, который выпустил Вашу
                            карту). Для
                            этого Вы будете направлены на страницу банка, выдавшего карту. Вид проверки зависит от
                            банка. Как
                            правило, это дополнительный пароль, который отправляется в SMS, карта переменных кодов, либо
                            другие
                            способы. </p>
                    </div>
                    <div class="help-notice-description-col help-notice-description-col-right">
                        <p class="help-notice-description-text">
                            <b>Если у Вас возникли вопросы</b> по совершенному платежу, <br>Вы можете обратиться в
                            службу
                            технической поддержки процессингового центра Uniteller:
                            <br><br><b>support@uniteller.ru</b>
                            <br>или по телефону
                            <b>8 800 707 67 19</b>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
