{% extends 'base_panel_wrapper.twig' %}

{% block content %}
    <div class="container">
        {% include 'panel/menu.twig' %}
        <div class="row" style="background-color: #f1f2f3; padding: 20px 40px;">
            <div class="col-sm">
                <h1>Редактор пользователей:</h1>

                {{ form_start(form) }}
                {{ form_widget(form.id, {'value': user.id }) }}
                <div class="form-group">
                    {{ form_label(form.firstName, 'Имя') }}
                    <div class="err_list form-text text-muted">{{ form_errors(form.firstName) }}</div>
                    {{ form_widget(form.firstName, {'attr': {'class':'form-control', 'placeholder': 'Иван', 'value': user.firstName }}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.lastName, 'Фамилия') }}
                    <div class="err_list form-text text-muted">{{ form_errors(form.lastName) }}</div>
                    {{ form_widget(form.lastName, {'attr': {'class':'form-control', 'placeholder': 'Иванов', 'value': user.lastName}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.age, 'Возраст') }}
                    <div class="err_list form-text text-muted">{{ form_errors(form.age) }}</div>
                    {{ form_widget(form.age, {'attr': {'class':'form-control', 'placeholder': 'Иванов', 'value': user.age}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.email, 'Email') }}
                    <div class="err_list form-text text-muted">{{ form_errors(form.email) }}</div>
                    {{ form_widget(form.email, {'attr': {'class':'form-control', 'placeholder': 'name@example.com', 'value': user.email}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.roles, 'Roles') }}
                    <label for="exampleFormControlSelect2">Уровни доступа</label>
                    {{ form_widget(form.roles, {'attr': {'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.referrer, {'attr': {'class':'form-control'}}) }}
                    {#<select class="form-control" name="form[referrer]">
                        {% for userItem in allUser %}
                            <option value="{{ userItem.id }}">{{ userItem.email }}</option>
                        {% endfor %}
                    </select>#}
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect2">Дата
                        создания: {{ user.createdAt|date("Y-m-d h:i:s") }}</label>
                </div>
                {% if(user.deletedAt != null) %}
                    <div class="form-group">
                        <label for="exampleFormControlSelect2">Дата
                            удаления: {{ user.deletedAt|date("Y-m-d h:i:s") }} </label>
                    </div>
                {% endif %}
                {{ form_end(form) }}

                <br><br>
                {% if user.referrer %}
                    <h6>Пригласитель</h6>
                    <div> id: <b>{{ user.referrer.id }}</b>; email: <b>{{ user.referrer.email }}</b></div>
                {% endif %}

                {% for referal in user.referrals %}
                    <h6>Список рефералов</h6>
                    <div>id: <b>{{ referal.id }}</b>; email: <b>{{ referal.email }}}</b></div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
