{% extends 'base_panel_wrapper.twig' %}

{% import 'panel/users/table.twig' as table %}

{% block content %}
    <div class="container">
        {% include 'panel/menu.twig' %}
        <div class="row" style="background-color: #f1f2f3; padding: 20px 40px;">
            <div class="col-sm">
                <h1>Редактор пользователей:</h1>

                {{ form_start(form) }}
                {{ form_widget(form.id, {'value': user.id }) }}
                <div class="form-group">
                    {{ form_label(form.firstName, 'Имя') }}
                    <div class="err_list form-text text-muted">{{ form_errors(form.firstName) }}</div>
                    {{ form_widget(form.firstName, {'attr': {'class':'form-control', 'placeholder': 'Иван', 'value': user.firstName }}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.lastName, 'Фамилия') }}
                    <div class="err_list form-text text-muted">{{ form_errors(form.lastName) }}</div>
                    {{ form_widget(form.lastName, {'attr': {'class':'form-control', 'placeholder': 'Иванов', 'value': user.lastName}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.birthday, 'Дата рождения') }}
                    <div class="err_list form-text text-muted">{{ form_errors(form.birthday) }}</div>
                    {{ form_widget(form.birthday, {'attr': {'class':'form-control', 'placeholder': '01/01/1990', 'value': user.birthday? user.birthday|date('Y.m.d') : '', 'required': false}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.email, 'Email') }}
                    <div class="err_list form-text text-muted">{{ form_errors(form.email) }}</div>
                    {{ form_widget(form.email, {'attr': {'class':'form-control', 'placeholder': 'name@example.com', 'value': user.email}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.rewardSum, 'Начисленные баллы') }}
                    <div class="err_list form-text text-muted">{{ form_errors(form.rewardSum) }}</div>
                    {{ form_widget(form.rewardSum, {'attr': {'class':'form-control', 'placeholder': '50.00', 'value': user.rewardSum}}) }}
                </div>
                <div class="form-group" style='margin-left: 20px'>
                    {{ form_widget(form.fundraiser, {'attr': {'class':'form-check-input', 'required':false}}) }}
                    {{ form_label(form.fundraiser,  'Фандрайзер', {'label_attr': {'class':'form-check-label'}}) }}                    
                </div>
                <div class="form-group">
                    {{ form_label(form.roles, 'Roles') }}
                    <label for="exampleFormControlSelect2">Уровни доступа</label>
                    {{ form_widget(form.roles, {'attr': {'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.referrer, {'attr': {'class':'form-control'}}) }}
                </div>                
                <div class="form-group">
                    <label for="exampleFormControlSelect2">Дата
                        создания: {{ user.createdAt|date("Y-m-d h:i:s") }}</label>
                </div>
                {% if(user.deletedAt != null) -%}
                    <div class="form-group">
                        <label for="exampleFormControlSelect2">Дата
                            удаления: {{ user.deletedAt|date("Y-m-d h:i:s") }} </label>
                    </div>
                {%- endif %}
                {{ form_end(form) }}

                {% if user.referrer -%}
                    <br><br>
                    <h4>Пригласитель</h4>
                    {{ table.table([user.referrer]) }}
                {%- endif %}

                {% if user.referrals|length -%}
                    <br><br>
                    <h4>Список рефералов</h4>
                    {{ table.table(user.referrals) }}
                {%- endif %}
            </div>
        </div>
    </div>
    <script>
        function ready() {
            var foopicker = new FooPicker({
                id: 'form_birthday',
                dateFormat: 'dd.MM.yyyy',
            });
        }
        document.addEventListener("DOMContentLoaded", ready);
    </script>
{% endblock %}
