{% extends 'base_panel_wrapper.twig' %}

{% block content %}
    <div class="container" style="padding: 40px;">
        <div class="row align-items-center">
            <div class="col-sm"></div>
            <div class="col-sm">
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.email, 'Email address') }}
                    <div class="err_list form-text text-muted">{{ form_errors(form.email) }}</div>
                    {{ form_widget(form.email, {'attr': {'class':'form-control', 'aria-describedby':'emailHelp', 'placeholder': 'Enter email'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.pass, 'Password') }}
                    <div class="err_list form-text text-muted">{{ form_errors(form.pass) }}</div>
                    {{ form_widget(form.pass, {'attr': {'class':'form-control', 'placeholder': 'Password'}}) }}
                </div>
                {{ form_end(form) }}
            </div>
            <div class="col-sm"></div>
        </div>
    </div>
{% endblock %}
