{% extends 'base_panel_wrapper.twig' %}

{% block content %}
    <div class="container">
        {% include 'panel/menu.twig' %}
        <div class="row" style="background-color: #f1f2f3; padding: 20px 40px;">
            <div class="col-sm">
                <h1>Главная:</h1>
                <table class="table">
                    <tbody>
                    <tr>
                        <td scope="row">Всего пожертвованно:</td>
                        <td>{{ totalSum|number_format(2, '.', ' ') }} р.</td>
                    </tr>
                    <tr>
                        <td scope="row">Всего начисленно рефералльных:</td>
                        <td>{{ referralSum|number_format(2, '.', ' ') }} р.</td>
                    </tr>
                    <tr>
                        <td scope="row">Сумма активных рекуррентный платежей:</td>
                        <td>{{ recurringSum|number_format(2, '.', ' ') }} р.</td>
                    </tr>
                    <tr>
                        <td scope="row">Средний чек доноро:</td>
                        <td>{{ totalAvg|number_format(2, '.', ' ') }} р.</td>
                    </tr>
                    <tr>
                        <td scope="row">Количество активных подписчиков:</td>
                        <td>{{ recurringSumCount }}</td>
                    </tr>
                    <tr>
                        <td scope="row">Количество обычных доноров:</td>
                        <td>{{ userBaseCount }}</td>
                    </tr>
                    <tr>
                        <td scope="row">Количество приглашённых доноров:</td>
                        <td>{{ userRefCount }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
