{% extends 'base_panel_wrapper.twig' %}

{% block content %}
    <div class="container">
        {% include 'panel/menu.twig' %}
        <div class="row" style="background-color: #f1f2f3; padding: 20px 40px;">
            <div class="col-sm">
                <h1>Заявки:</h1>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Сумма</th>
                        <th scope="col">Дата создания</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for req in entities %}
                        <tr>
                            <th scope="row">{{ req.id }}</th>
                            <td>{{ req.user.email }}</td>
                            <td>{{ req.status }}</td>
                            <td>{{ req.sum }}</td>
                            <td>{{ req.createdAt|date('d m Y') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
