{% extends 'base_client_wrapper.twig' %}

{% block content %}
    <main>
        <section class="section hero-medium">
            <div class="container child-container">
                <h1 class="hero-medium__title">Дети</h1>
                <a class="link-back" href="{{ path('main') }}"><span class="icon icon-arrow-angle-right"></span>К списку
                    детей</a>
            </div>
        </section>

        <section class="section child section-with-bghearts">
            <div class="container child-container">
                <div class="child-wrapper">
                    <div class="card-child-wrapper">
                        <div class="card-child">
                            <div class="card-child__col">
                                <div class="card-child-photos">
                                    <div class="card-child-photos__main">
                                        <img class="img-responsive"
                                            src="{{ child.images[0] }}"
                                            alt="{{ child.name }}"
                                            width="382">
                                    </div>

                                    <div class="card-child-photos__list photo-gallery">
                                        {% for image in child.images %}
                                            <img class="photo-gallery__item photo-gallery__item--active img-responsive"
                                                src="{{ image }}"
                                                alt="{{ child.name }}"
                                                width="59">
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="card-child__col card-child-description">
                                <div class="card-child-name">{{ child.name }}</div>
                                <div class="card-child-field">
                                    <div class="card-child-field__title">Возраст:</div>
                                    <div class="card-child-field__value">{{ child.age }} лет</div>
                                </div>
                                <div class="card-child-field">
                                    <div class="card-child-field__title">Диагноз:</div>
                                    <div class="card-child-field__value card-child-field__value--full">
                                        {{ child.diagnosis }}
                                    </div>
                                </div>
                                <div class="card-child-field">
                                    <div class="card-child-field__title">Комментарий:</div>
                                    <div class="card-child-field__value card-child-field__value--full">
                                        {{ child.comment }}
                                    </div>
                                </div>
                                <div class="card-child-collected collected-resources">
                                    <div class="collected-resources-left">
                                        <span class="collected-resources-left__title">Необходимо собрать:</span>
                                        <span class="collected-resources-left__value">{{ child.goal|number_format(0, '.', ' ') }} руб.</span>
                                    </div>
                                    <div class="collected-resources__slider">
                                        <div class="collected-resources__slider-filled"
                                            style="width: {{ child.goalRatio * 100 }}%"></div>
                                    </div>
                                    <div class="collected-resources__sum">
                                        <span class="collected-resources__sum-notice">Осталось собрать:</span>
                                        <span class="collected-resources__sum-value">{{ child.leftGoal|number_format(0, '.', ' ') }} руб.</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <form class="child-help-form" action="/donate" method="GET">
                            <input type="hidden" name="childrenId" value="{{ child.id }}">
                            <h3 class="child-help-form__title">Помочь прямо сейчас</h3>
                            <div class="child-help-form-row">
                                <div class="child-help-form__col child-help-form__col-label ohf-col-label__notice-title">
                                    Выберите способ оплаты
                                </div>
                                <div class="child-help-form__col child-help-form__col-input ohf-col-input">
                                    <div class="payment-type-fieldgroup toggle-fieldgroup toggle-fieldgroup--white">
                                        <label class="payment-type-fieldgroup__label toggle-field">
                                            <input class="toggle-field__input"
                                                type="radio"
                                                name="payment-type"
                                                value="visa"
                                                checked>
                                            <div class="toggle-field__text">
                                                <img class="toggle-field__text-image"
                                                    src="/images/mastercard.png"
                                                    width="30">
                                                <img class="toggle-field__text-image" src="/images/visa.png" width="40">
                                            </div>
                                        </label>
                                        <label class="payment-type-fieldgroup__label toggle-field">
                                            <input class="toggle-field__input"
                                                type="radio"
                                                name="payment-type"
                                                value="internet-services"
                                                disabled>
                                            <div class="toggle-field__text">Интернет сервисы</div>
                                        </label>
                                        {# <label class="payment-type-fieldgroup__label toggle-field">
                                            <input class="toggle-field__input"
                                                type="radio"
                                                name="payment-type"
                                                value="sms">
                                            <div class="toggle-field__text">Sms оплата</div>
                                        </label>
                                        <label class="payment-type-fieldgroup__label toggle-field">
                                            <input class="toggle-field__input"
                                                type="radio"
                                                name="payment-type"
                                                value="account">
                                            <div class="toggle-field__text">Выставление счета</div>
                                        </label> #}
                                    </div>
                                </div>
                            </div>
                            <div class="donate-form-payment-systems__notice child-help-form__notice">
                                <div class="icon-wrapper">
                                    <span class="icon icon-lock"></span>
                                </div>
                                <div class="child-help-form__notice-text">
                                    Мы производим сбор средств только при оплате электронными способами и с прозрачной
                                    отчетностью.
                                </div>
                            </div>
                            <div class="child-help-form__buttons">
                                <button class="btn btn-dark btn--big child-help-form__submit js-child-help-form-button-submit"
                                    type="submit">
                                    Далее
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="child-contacts">
                        <div class="contacts-details__row child-contacts__row">
                            <div class="contacts-details__row-name child-contacts-title">
                                Прямые реквизиты для помощи
                            </div>
                            <div class="contacts-details__row-value child-contacts-value">
                                Чувашское отделение №8613<br>
                                ПАО СБЕРБАНК г. Чебоксары<br>
                                К/С: 30101810300000000609<br>
                                БИК: 049706609<br>
                                Счет: 40703810675000000543<br>
                            </div>
                        </div>
                        <div class="contacts-details__row child-contacts__row">
                            <div class="contacts-details__row-name child-contacts-title">
                                Контакты для связи если у вас возникли вопросы
                            </div>
                            <div class="contacts-details__row-value child-contacts-value">
                                Телефон Фамилия Имя (мама):<br>
                                8 (999) 999 99 99<br>
                                <br>
                                Телефон горячей линии:<br>
                                8 (800) 600 09 06<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
