{% extends 'base_client_wrapper.twig' %}

{% block title %}БФ “Помогите Детям” | {{ child.name }}{% endblock %}
{% block desciption %}БФ “Помогите Детям” | {{ child.name }}{% endblock %}
{% block keywords %}{{ child.name }}{% endblock %}

{% block content %}
    <main>
        <section class="section hero-medium">
            <div class="container child-container">
                <h1 class="hero-medium__title">Дети</h1>
                <p class="section-subtitle">Те, кому мы помогаем</p>
                <a class="link-back" href="{{ path('children_list') }}"><span
                        class="icon icon-arrow-angle-right"></span>К списку детей</a>
            </div>
        </section>

        <section class="section child section-with-bghearts">
            <div class="container child-container">
                <div class="child-wrapper">
                    <div class="card-child-wrapper">
                        <div class="card-child">
                            <div class="card-child__col">
                                <div class="card-child-photos">
                                    <div class="card-child-photos__main">
                                        <img class="img-responsive"
                                             src="{{ asset('uploads/images/' ~ child.images[0]) }}"
                                             alt="{{ child.name }}"
                                             width="382">
                                    </div>

                                    <div class="card-child-photos__list photo-gallery">
                                        {% for image in child.images %}
                                            <img class="photo-gallery__item photo-gallery__item--active img-responsive"
                                                 src="{{ asset('uploads/images/' ~ image) }}"
                                                 alt="{{ child.name }}"
                                                 width="59">
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="card-child__col card-child-description">
                                <div class="card-child-name">{{ child.name }}</div>
                                <div class="card-child-field">
                                    <div class="card-child-field__title">Место рождения:</div>
                                    <div class="card-child-field__value">{{ child.city }}</div>
                                </div>
                                <div class="card-child-field">
                                    <div class="card-child-field__title">Возраст:</div>
                                    <div class="card-child-field__value">{{ child.age }} лет</div>
                                </div>
                                <div class="card-child-field">
                                    <div class="card-child-field__title">Диагноз:</div>
                                    <div class="card-child-field__value card-child-field__value--full">
                                        {{ child.diagnosis }}
                                    </div>
                                </div>
                                <div class="card-child-field">
                                    <div class="card-child-field__title">Комментарий:</div>
                                    <div class="card-child-field__value card-child-field__value--full">
                                        {{ child.comment }}
                                    </div>
                                </div>
                                <div class="card-child-collected collected-resources">
                                    <div class="collected-resources-left">
                                        <span class="collected-resources-left__title">Необходимо собрать:</span>
                                        <span
                                            class="collected-resources-left__value">{{ child.goal|number_format(0, '.', ' ') }} руб.</span>
                                    </div>
                                    <div class="collected-resources__slider">
                                        <div class="collected-resources__slider-filled"
                                             style="width: {{ child.goalRatio * 100 }}%"></div>
                                    </div>
                                    <div class="collected-resources__sum">
                                        <span class="collected-resources__sum-notice">Осталось собрать:</span>
                                        <span
                                            class="collected-resources__sum-value">{{ child.leftGoal|number_format(0, '.', ' ') }} руб.</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <form class="child-help-form" action="{{ path('donate') }}" method="POST">
                            <input type="hidden" name="child_id" value="{{ child.id }}">
                            <h3 class="child-help-form__title">Помочь прямо сейчас</h3>
                            <div class="child-help-form-row">
                                <div
                                    class="child-help-form__col child-help-form__col-label ohf-col-label__notice-title">
                                    Выберите способ оплаты
                                </div>
                                <div class="child-help-form__col child-help-form__col-input ohf-col-input">
                                    {% include 'components/payment_methods.twig' %}
                                </div>
                            </div>
                            <div class="donate-form-payment-systems__notice child-help-form__notice">
                                <div class="icon-wrapper">
                                    <span class="icon icon-lock"></span>
                                </div>
                                <div class="child-help-form__notice-text">
                                    Все сделки защищены SSL, PSI DSS,<br>
                                    Персональные данные конфиденциальны.
                                </div>
                            </div>
                            <div class="child-help-form__buttons">
                                <button
                                    class="btn btn-dark btn--big child-help-form__submit js-child-help-form-button-submit"
                                    type="submit">
                                    Далее
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="child-contacts">
                        <div class="contacts-details__row child-contacts__row">
                            <div class="contacts-details__row-name child-contacts-title">
                                Реквизиты для помощи
                            </div>
                            <div class="contacts-details__row-value child-contacts-value">
                                {{ child.requisites|raw }}
                            </div>
                        </div>
                        <div class="contacts-details__row child-contacts__row">
                            <div class="contacts-details__row-name child-contacts-title">
                                Контакты для связи если у вас возникли вопросы
                            </div>
                            <div class="contacts-details__row-value child-contacts-value">
                                {{ child.contacts|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
