{% extends 'base_client_wrapper.twig' %}

{% block title %}БФ “Помогите Детям” | Дети{% endblock %}
{% block desciption %}БФ “Помогите Детям” | Дети{% endblock %}
{% block keywords %}Дети{% endblock %}

{% block content -%}
    <main>
        <section class="section hero-small">
            <div class="container">
                <h1 class="hero-small__title">Программы помощи</h1>
            </div>
        </section>

        {% if opened|length -%}
            <section class="section kids section-with-bghearts">
                <div class="container container-pagecontent-padding">
                    <h2 class="section-title">Долгосрочная опека</h2>
                    <p class="section-subtitle">Вы можете помочь этим детям</p>
                    <ul class="aid-list">
                        {% for child in opened -%}
                            <li class="aid-list__item">
                                <div class="aid-card">
                                    <img class="aid-card__photo" src="{{ asset('uploads/images/' ~ child.images[0]) }}" alt="{{ child.name }}"/>
                                    <div class="aid-card__description">
                                        <p class="aid-card__description-name">{{ child.name }}</p>
                                        <p class="aid-card__description-diagnosis">{{ child.diagnosis }}</p>
                                        <div class="aid-card__description-resources collected-resources">
                                            <div class="collected-resources__slider">
                                                <div class="collected-resources__slider-filled" style="width:{{ (child.goalRatio * 100)|number_format(0) }}%"></div>
                                            </div>
                                            <div class="collected-resources__sum">
                                                <span class="collected-resources__sum-notice">Собрано:</span>
                                                <span
                                                    class="collected-resources__sum-value">{{ child.collected|number_format(0, '.', ' ') }} руб.</span>
                                            </div>
                                        </div>
                                        <p class="aid-card__description-more">
                                            <a class="aid-card__description-more__link js-card-link"
                                               href="{{ path('children_detail', {'id': child.id}) }}">Узнать
                                                подробнее</a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        {%- endfor %}
                    </ul>
                </div>
            </section>
        {%- endif %}

        {% if closed|length -%}
            <section class="section kids">
                <div class="container container-pagecontent-padding">
                    <h2 class="section-title">Закрытые сборы</h2>
                    <ul class="aid-list">
                        {% for child in closed -%}
                            <li class="aid-list__item">
                                <div class="aid-card">
                                    <img class="aid-card__photo" src="{{ asset('uploads/images/' ~ child.images[0]) }}" alt="Фото {{ child.name }}"/>
                                    <div class="aid-card__description">
                                        <p class="aid-card__description-name">{{ child.name }}</p>
                                        <p class="aid-card__description-diagnosis">{{ child.diagnosis }}</p>
                                        <div class="aid-card__description-resources collected-resources">
                                            <div class="collected-resources__slider">
                                                <div class="collected-resources__slider-filled" style="width:{{ (child.goalRatio * 100)|number_format(0) }}%"></div>
                                            </div>
                                            <div class="collected-resources__sum">
                                                <span class="collected-resources__sum-notice">Сбор средств закрыт</span>
                                            </div>
                                        </div>
                                        <p class="aid-card__description-more">
                                            <a class="aid-card__description-more__link js-card-link"
                                               href="{{ path('children_detail', {'id': child.id}) }}">Узнать
                                                подробнее</a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        {%- endfor %}
                    </ul>
                </div>
            </section>
        {%- endif %}
    </main>
{%- endblock %}
