{% set numb = ['', 'первую', "вторую", "третью", "четвёртую", "пятую", "шестую", " седьмую", "восьмую", "девятую", "десятую"] %}
{% extends 'base_client_wrapper.twig' %}

{% block title %}БФ “Помогите Детям” | Дети{% endblock %}
{% block desciption %}БФ “Помогите Детям” | Дети{% endblock %}
{% block keywords %}Дети{% endblock %}

{% block content -%}

  <main>
        <section class="section hero-small">
            <div class="container">
                <h1 class="hero-small__title">Программы помощи</h1>
            </div>
        </section>
        <div class='anchor' id='kids_dolgosrochnaya-opeka' style='top:150px;'></div>
        <section class='cart-nav-container'>
            <div class='cart-nav kids-page'>
                <div class='active left {{ (not opened|length) ? 'disabled' }}'><span><a href='#dolgosrochnaya-opeka'>Долгосрочная опека</a></span></div>
                <div class='center {{ (not pmj|length) ? 'disabled' }}'><span><a href='#pjm'>Подарки, желания, мечты</a></span></div>
                <div class='right {{ (not closed|length) ? 'disabled' }}'><span><a href='#we-helped'>Мы помогли</a></span></div>
            </div>
        </section>
        {% if opened|length -%}
            <section class="section kids section-with-bghearts">
                <div class="container container-pagecontent-padding">
                    <h2 class="section-title"  id='dolgosrochnaya-opeka'>Долгосрочная опека</h2>
                    {# <p class="section-subtitle">Вы можете помочь этим детям</p> #}
                    <ul class="aid-list">
                        {% for child in opened -%}
                            {# {% if (child.targets|last).rehabilitation %} #}
                            <li class="aid-list__item">
                                <div class="aid-card">
                                    {# таймер ребенка #}
                                    {% if (child.targets|last).allowclose == 0%}
                                    {% if date((child.targets|last).totime) > date( "now")%}

                                    <div class='notification'>
                                        <div>Реабилитация<br>через:</div>
                                        <div class='days'><span id="{{child.id}}days"></span> дней</div>
                                        <div class='time'><span id="{{child.id}}hours"></span><span id="{{child.id}}delimiter">:</span><span id="{{child.id}}minutes"></span></div>
                                        <script type="text/javascript">
                                            function updater(d, h, m, dlm) {
                                            var baseTime = new Date( {{ (child.targets|last).totime|date("Y") }}, {{ (child.targets|last).totime|date("m") }}-1, {{ (child.targets|last).totime|date("d") }}, 14);

                                            function update() {
                                                var cur = new Date();
                                                var diff = (baseTime - cur);
                                                // var millis = diff % 1000;
                                                // diff = Math.floor(diff/1000);
                                                // var sec = diff % 60;
                                                // if(sec < 10) sec = "0"+sec;
                                                diff = Math.floor(diff/60 /1000);
                                                var min = diff % 60;
                                                if(min < 10) min = "0"+min;
                                                diff = Math.floor(diff/60);
                                                var hours = diff % 24;
                                                var days = Math.floor(diff / 24);
                                                d.innerHTML = days;
                                                h.innerHTML = hours;
                                                m.innerHTML = min;
                                                dlm.innerHTML = dlm.innerHTML==':' ? " " : ":";
                                                // s.innerHTML = Math.abs(sec);

                                                setTimeout(update, 1000);
                                            }
                                            setTimeout(update, 0);
                                            }
                                            updater(document.getElementById("{{child.id}}days"),
                                            document.getElementById("{{child.id}}hours"), document.getElementById("{{child.id}}minutes"),
                                            document.getElementById("{{child.id}}delimiter"));
                                        </script>
                                    </div>
                             <!-- Володя, эту парашу я изменил если что-->
                              <!--<div class="card-child-time">
                                <p class="card-child-time-title">
                                    Реабилитация <br> через:
                                </p>
                                <p class="card-child-time-days">
                                     <span id="{{child.id}}days"></span> дней
                                </p>
                                <p class="card-child-time-hours">
                                    <span id="{{child.id}}hours"></span><span id="{{child.id}}delimiter">:</span><span id="{{child.id}}minutes"></span>
                                </p>-->
                            <!--</div>-->
                        {% else %}
                            <div class='notification care'>
                                    <img src='/images/care.svg'>
                                    <div class='inProcess'>Проходит реабилитацию</div>
                                </div>
                                    {% endif %}
                                    {% endif %}
                                    <img class="aid-card__photo" data-proportion-h="1" src="{{ asset('uploads/images/' ~ child.images.0) }}" alt="{{ child.name }}"/>
                                    <div class="aid-card__description">
                                        <p class="aid-card__description-name">{{ child.name }}</p>
                                        <p class="aid-card__description-diagnosis">{{ child.diagnosis }}</p>
                                        <div class="aid-card__description-resources collected-resources">
                                             <div class='progressline-block'>
                                        <!--
                                        Блок "push-content" нужен для отображения всплывашки при наведении
                                        на progress-bar
                                    -->
                                        <div class='push-content'></div>
                                        <div class='progress-list'>
                                        {% for trg in child.targets%}
                                            <div class='progress-bar'>
                                                <!--
                                            Внутри каждого 'progress-bar' нужен блок 'txt'
                                            именно в нем содержится контент всплывашки
                                        -->
                                                <div class='txt'>
                                                    <div class='childname'>{{ child.name }}</div>
                                                    <div class='info'>{{trg.name}}</div>
                                                    {# <div><a href='#'>Подробнее</a></div> #}
                                                </div>
                                                <div class='progress-bar-done {{ (not trg.rehabilitation) ? 'pmj'}}' style="width:{{100*trg.collected/trg.goal}}%"></div>
                                            </div>
                                        {% endfor %}


                                            {# OLD
                                                <div class="collected-resources__slider">
                                                    <div class="collected-resources__slider-filled" style="width:{{ (child.goalRatio * 100)|number_format(0) }}%"></div>
                                                </div>
                                                <div class="collected-resources__sum">
                                                    <span class="collected-resources__sum-notice">Собрано:</span>
                                                    <span
                                                        class="collected-resources__sum-value">{{ child.collected|number_format(0, '.', ' ') }} руб.</span> #}
                                        </div>
                                    </div>
                                        <p  style="display:none" class="aid-card__description-more">
                                            <a class="aid-card__description-more__link js-card-link"
                                               href="{{ path('children_detail', {'id': child.id}) }}">Узнать
                                                подробнее</a>
                                        </p>
                                    <div class='RaisedMoney'>
                                        <div>Осталось собрать:</div>
                                        <div class='money'>{{child.targets|last ? child.targets|last.goal-child.targets|last.collected}} руб.</div>
                                    </div>
                                    <div class='needed'>
                                        <div>Необходимо:</div>
                                        <div class='needed-name'><a href='#'>4-ая реабилитация в РЦ "Радуга"</a></div>
                                    </div>
                                    <div class='wantHelp'><button>Хочу помочь!</button></div>

                                    </div>
                                </div>
                            </li>
                        {# {% endif %} #}
                        {%- endfor %}
                    </ul>
                </div>
                <div class='anchor' id='kids_pjm' style='bottom:170px;'></div>
            </section>
        {%- endif %}


        {# ПОДАРКИ #}



        {% if pmj|length -%}
            <section class="section kids">
            <div class="container container-pagecontent-padding">
                <h2 class="section-title" id='pjm'>Подарки, желания, мечты</h2>
                <ul class="aid-list">
                        {% for child in pmj -%}
                            {# {% if not (child.targets|last).rehabilitation %} #}
                            <li class="aid-list__item">
                                <div class="aid-card">
                                    {# таймер ребенка #}
                                    {% if (child.targets|last).allowclose == 0%}
                                    {% if date((child.targets|last).totime) > date( "now")%}
                                <div class='notification'>
                                    <div>Реабилитация<br>через:</div>
                                    <div class='days'><span id="{{child.id}}days"></span> дней</div>
                                    <div class='time'><span id="{{child.id}}hours"></span><span id="{{child.id}}delimiter">:</span><span id="{{child.id}}minutes"></span></div>
                                    <script type="text/javascript">
                                    function updater(d, h, m, dlm) {
                                    var baseTime = new Date( {{ (child.targets|last).totime|date("Y") }}, {{ (child.targets|last).totime|date("m") }}-1, {{ (child.targets|last).totime|date("d") }}, 14);

                                    function update() {
                                        var cur = new Date();
                                        var diff = (baseTime - cur);
                                        // var millis = diff % 1000;
                                        // diff = Math.floor(diff/1000);
                                        // var sec = diff % 60;
                                        // if(sec < 10) sec = "0"+sec;
                                        diff = Math.floor(diff/60 /1000);
                                        var min = diff % 60;
                                        if(min < 10) min = "0"+min;
                                        diff = Math.floor(diff/60);
                                        var hours = diff % 24;
                                        var days = Math.floor(diff / 24);
                                        d.innerHTML = days;
                                        h.innerHTML = hours;
                                        m.innerHTML = min;
                                        dlm.innerHTML = dlm.innerHTML==':' ? " " : ":";
                                        // s.innerHTML = Math.abs(sec);

                                        setTimeout(update, 1000);
                                    }
                                    setTimeout(update, 0);
                                    }
                                    updater(document.getElementById("{{child.id}}days"),
                                    document.getElementById("{{child.id}}hours"), document.getElementById("{{child.id}}minutes"),
                                    document.getElementById("{{child.id}}delimiter"));</script>
                                    </div>
                        {% else %}
                            <div class='notification care'>
                                    <img src='/images/care.svg'>
                                    <div class='inProcess'>Проходит реабилитацию</div>
                                </div>
                                    {% endif %}
                                    {% endif %}
                                    <img class="aid-card__photo" data-proportion-h="1" src="{{ asset('uploads/images/' ~ child.images[0]) }}" alt="{{ child.name }}"/>
                                    <div class="aid-card__description">
                                        <p class="aid-card__description-name">{{ child.name }}</p>
                                        <p class="aid-card__description-diagnosis">{{ child.diagnosis }}</p>
                                        <div class="aid-card__description-resources collected-resources">
                                             <div class='progressline-block'>
                                        <!--
                                        Блок "push-content" нужен для отображения всплывашки при наведении
                                        на progress-bar
                                    -->
                                        <div class='push-content'></div>
                                        <div class='progress-list'>
                                        {% for trg in child.targets%}
                                            <div class='progress-bar'>
                                                <!--
                                            Внутри каждого 'progress-bar' нужен блок 'txt'
                                            именно в нем содержится контент всплывашки
                                        -->
                                                <div class='txt'>
                                                    <div class='childname'>{{ child.name }}</div>
                                                    <div class='info'>{{trg.name}}</div>
                                                    <a href='#'>История пожертвований</a></div> #}
                                                </div>
                                                <div class='progress-bar-done {{ (not trg.rehabilitation) ? 'pmj'}}' style="width:{{100*trg.collected/trg.goal}}%"></div>
                                            </div>
                                        {% endfor %}


                                            {# OLD
                                                <div class="collected-resources__slider">
                                                    <div class="collected-resources__slider-filled" style="width:{{ (child.goalRatio * 100)|number_format(0) }}%"></div>
                                                </div>
                                                <div class="collected-resources__sum">
                                                    <span class="collected-resources__sum-notice">Собрано:</span>
                                                    <span
                                                        class="collected-resources__sum-value">{{ child.collected|number_format(0, '.', ' ') }} руб.</span> #}

                                        </div>
                                    </div>
                                        <p  style="display:none" class="aid-card__description-more">
                                            <a class="aid-card__description-more__link js-card-link"
                                               href="{{ path('children_detail', {'id': child.id}) }}">Узнать
                                                подробнее</a>
                                        </p>
                                    <div class='RaisedMoney'>
                                        <div>Осталось собрать:</div>
                                        <div class='money'>{{child.targets|last ? child.targets|last.goal-child.targets|last.collected}} руб.</div>
                                    </div>
                                    <div class='needed'>
                                        <div>Необходимо:</div>
                                        <div class='needed-name'><a href='#'>4-ая реабилитация в РЦ "Радуга"</a></div>
                                    </div>
                                    <div class='wantHelp'><button>Хочу помочь!</button></div>

                                    </div>
                                </div>
                            </li>
                        {# {% endif %} #}
                        {%- endfor %}
                    </ul>
                </div>
                <div class='anchor' id='kids_we_helped' style='bottom:170px;'></div>
            </section>
        {%- endif %}



        {# ПОМОГЛИ #}


        {% if closed|length -%}
            <section class="section kids">
            <div class="container container-pagecontent-padding">
                <h2 class="section-title" id='we-helped'>Мы помогли</h2>
                <ul class="aid-list">
                        {% for child in closed -%}
                            <li class="aid-list__item">
                                <div class="aid-card">
                                    {# таймер ребенка #}
                            {#  <div class='notification care'>
                                    <img src='/images/care 1.png'>
                                    <div class='inProcess'>Проходит реабилитацию</div>
                                </div> #}
                                    <img class="aid-card__photo" data-proportion-h="1" src="{{ asset('uploads/images/' ~ child.images[0]) }}" alt="{{ child.name }}"/>
                                    <div class="aid-card__description closed">
                                        <p class="aid-card__description-name">{{ child.name }}</p>
                                        <p class="aid-card__description-diagnosis">{{ child.diagnosis }}</p>
                                        <div class="aid-card__description-resources collected-resources">
                                             <div class='progressline-block'>
                                        <!--
                                        Блок "push-content" нужен для отображения всплывашки при наведении
                                        на progress-bar
                                    -->
                                        <div class='push-content'></div>
                                        <div class='progress-list'>

                                        {% for trg in child.targets%}
                                            <div class='progress-bar'>
                                                <!--
                                            Внутри каждого 'progress-bar' нужен блок 'txt'
                                            именно в нем содержится контент всплывашки
                                        -->
                                                <div class='txt'>
                                                    <div class='childname'>{{ child.name }}</div>
                                                    <div class='info'>{{trg.name}}</div>
                                                    {# <div><a href='#'>История пожертвований</a></div> #}
                                                </div>
                                                <div class='progress-bar-done {{ (not trg.rehabilitation) ? 'pmj'}}' style="width:{{100*trg.collected/trg.goal}}%"></div>
                                            </div>
                                        {% endfor %}


                                            {# OLD
                                                <div class="collected-resources__slider">
                                                    <div class="collected-resources__slider-filled" style="width:{{ (child.goalRatio * 100)|number_format(0) }}%"></div>
                                                </div>
                                                <div class="collected-resources__sum">
                                                    <span class="collected-resources__sum-notice">Собрано:</span>
                                                    <span
                                                        class="collected-resources__sum-value">{{ child.collected|number_format(0, '.', ' ') }} руб.</span> #}

                                        </div>
                                    </div>
                                        <p style="display:none" class="aid-card__description-more">
                                            <a class="aid-card__description-more__link js-card-link"
                                               href="{{ path('children_detail', {'id': child.id}) }}">Узнать
                                                подробнее</a>
                                        </p>
                                    {# <div class='RaisedMoney'>
                                        <div>Осталось собрать:</div>
                                        <div class='money'>9 000 руб.</div>
                                    </div>
                                    <div class='needed'>
                                        <div>Необходимо:</div>
                                        <div class='needed-name'><a href='#'>4-ая реабилитация в РЦ "Радуга"</a></div>
                                    </div> #}
                                    <div class='wantHelp closed'><button disabled>Сбор закрыт</button></div>

                                    </div>
                                </div>
                            </li>
                        {%- endfor %}
                    </ul>
                </div>
            </section>
        {%- endif %}
{#
        {% if closed|length -%}
            <section class="section kids">
                <div class="container container-pagecontent-padding">
                    <h2 class="section-title">Мы уже помогли</h2>
                    <ul class="aid-list">
                        {% for child in closed -%}
                            <li class="aid-list__item">
                                <div class="aid-card">
                                    <img class="aid-card__photo" src="{{ asset('uploads/images/' ~ child.images[0]) }}" alt="Фото {{ child.name }}"/>
                                    <div class="aid-card__description">
                                        <p class="aid-card__description-name">{{ child.name }}</p>
                                        <p class="aid-card__description-diagnosis">{{ child.diagnosis }}</p>
                                        <div class="aid-card__description-resources collected-resources">
                                            <div class="collected-resources__slider">
                                                <div class="collected-resources__slider-filled" style="width:{{ (child.goalRatio * 100)|number_format(0) }}%"></div>
                                            </div>
                                            <div class="collected-resources__sum">
                                                <span class="collected-resources__sum-notice">Сбор средств закрыт</span>
                                            </div>
                                        </div>
                                        <p class="aid-card__description-more">
                                            <a class="aid-card__description-more__link js-card-link"
                                               href="{{ path('children_detail', {'id': child.id}) }}">Узнать
                                                подробнее</a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        {%- endfor %}
                    </ul>
                </div>
            </section>
        {%- endif %} #}

    </main>
    <script src='/js/stickjaw.js'></script>
<script>
    var SJ_setiings = {
                options: {
                    hlw: true, // Height as width
                    wlh: true, // Width as height
                    hlt: true, // Width of the target element (target id is the same as for height)
                    wlt: true, // Height of the target element (target id is the same as for width)
                    alo: true, // All elements as one (height)
                },
                settings: {
                    windowResize: true,
                    writeHystory: true
                }
            }
    var sj = new SJ(SJ_setiings);
</script>
{%- endblock %}
