{% extends 'base_client_wrapper.twig' %}

{% block title %}БФ “Помогите Детям” | {{n.title}}{% endblock %}
{% block desciption %}{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}
    <main>

        <section class="section hero-medium">
            <div class="container child-container">
                <a class="link-back link-back-mobile" id='children-link-back' href="{{ path('news_list') }}"><span
                        class="icon icon-arrow-angle-right"></span>К списку новостей</a>
                <h1 class="hero-medium__title">Новость</h1>
                <p class="hero-small__subtitle">тут все наши новости</p>
                <a class="link-back link-back-desktop" id='children-link-back' href="{{ path('news_list') }}"><span
                        class="icon icon-arrow-angle-right"></span>К списку новостей</a>
            </div>
        </section>

        <section class="section child section-with-bghearts">
            <div class="container child-container">

                <div class="child-wrapper">
                    <div class="card-child-wrapper">
                        <div class='cart-content'>
                            <div class='news-block opened'>
                                <div class='news'>
                                    <div class='news-info'>
                                        <a>Новости {{ (n.child==-1) ? "фонда" : "детей"}}</a>
                                        <span>{{n.createdAt|date('d.m.Y')}}</span>
                                    </div>
                                    <div class='news-name'>{{n.title}}</div>
                                    <div class='news-flex-block'>
                                        <div class='left-half'>
                                            <div class='img-block'>
                                                 {% if n.video %}<iframe width="560" height="315"
                                                    src="{{n.video}}" frameborder="0"
                                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe> {% elseif n.arphotos %}
                                                    <img  width="560" height="315" src="/uploads/images/{{n.arphotos[0]}}" style="object-fit: cover;">
                                                    {% endif %}
                                            </div>
                                            <div class='littleimg-block'>
                                                {% if n.video %}<div>
                                                    
                                                <iframe width="560" height="315"
                                                    src="{{n.video}}" frameborder="0"
                                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe> 
                                                    
                                                    <div class='disable-click'></div>
                                                </div>{% endif %}
                                                {% if n.arphotos %}
                                                    {% for p in n.arphotos %}
                                                    <div><img  width="560" height="315" src="/uploads/images/{{p}}" style="object-fit: cover;"></div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class='right-half'>
                                            <div class='text'>
                                                {{n.descr}}
                                            </div>
                                        </div>
                                    </div>
                                    {# <div class='social-links'>
                                        <div class='fb-link'>FB</div>
                                        <div class='vk-link'>VK</div>
                                        <div class='tg-link'>Telegram</div>
                                        <div class='comment-link'>Комменты</div>
                                    </div> #}
                                </div>
                                <div class='separator'></div>
                                <div class='recomended-news-block'>
                                    <div class='news-name'>Читайте так же:</div>
                                    <div class='recomend-news-flex-container'>
                                        {% for nn in news|slice(0,2) if n.id != nn.id %}
                                        <div class='recomend-news'>
                                            <div class='left-half'>
                                                <div class='img-block'>
                                                    <img  width="560" height="315" src="/uploads/images/{{nn.arphotos[0]}}" style="object-fit: cover;">
                                                </div>
                                            </div>
                                            <div class='right-half'>
                                                <div class='date'>{{nn.createdAt|date('d.m.Y')}}</div>
                                                <div class='news-name'>{{nn.title}}</div>
                                                <div><a href='{{ path('news_detail', {'id' : nn.id}) }}'>Подробнее</a></div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {# <div class='recomend-news'>
                                            <div class='left-half'>
                                                <div class='img-block'>
                                                    <img src='../Rectangle 37.png'>
                                                </div>
                                            </div>
                                            <div class='right-half'>
                                                <div class='date'>13 декабря 2019 года</div>
                                                <div class='news-name'>Название Реабилитации: Много Текста Первые
                                                    Успехи!</div>
                                                <div><a href='#'>Подробнее</a></div>
                                            </div>
                                        </div> #}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container container--small">
                <div class="donate-form-wrapper reports-donate-form-wrapper">
                     {% include 'components/donate_form.twig' %}
                </div>
            </div>

        <script>
            $(document).ready(function () {
                $('.littleimg-block>div').click(function (event) {
                    event.stopPropagation();
                    if ($(window).width() < 768) {
                        $('.news-block.opened .news .news-flex-block .left-half .littleimg-block>div')
                            .each(function () {
                                $(this).css('display', 'block');
                            })
                        $(this).css('display', 'none');
                    }

                    $('.news-block.opened .news .news-flex-block .left-half .img-block').html($(this)
                        .html());
                });
            });
        </script>
    </main>
{% endblock %}
