{% extends 'base_client_wrapper.twig' %}

{% block title %}БФ “Помогите Детям” | Новости{% endblock %}
{% block desciption %}{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}
    <main>
        <section class="section hero-medium">
            <div class="container child-container">
                <h1 class="hero-medium__title">Новости фонда</h1>
                <p class="hero-small__subtitle">тут все наши новости</p>
            </div>
        </section>

        <section class="section child section-with-bghearts">
            <div class="container child-container">

                <div class="child-wrapper">
                    <div class="card-child-wrapper">
                        <div class='cart-nav'>
                            <div class='active left'><span>Все новости</span></div>
                            <div class='center'><span>Новости детей</span></div>
                            <div class='right'><span>Новости фонда</span></div>
                        </div>

                        <div class='cart-content'>
                            <!-- Все новости -->
                            <div class='news-block all-news'>
                                {% for n in news %}
                                <div class='news'>
                                    <div class='news-info'>
                                        <a href=''>Новости {{ (n.child==-1) ? "фонда" : "детей"}}</a>
                                        <span>{{n.createdAt|date('d.m.Y')}}</span>
                                    </div>
                                    <div class='news-name'>{{n.title}}</div>
                                    <div class='news-flex-block'>
                                        <div class='left-half'>
                                            <div class='img-block'>
                                                <iframe width="560" height="315"
                                                    src="{{n.video}}" frameborder="0"
                                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                            </div>
                                        </div>
                                        <div class='right-half'>
                                            <div class='text'>
                                                {{n.descr[:600]}}...
                                            </div>
                                            <div class='link'>
                                                <a href='{{ path('news_detail', {'id' : n.id}) }}'>Подробнее</a>
                                            </div>
                                        </div>
                                    </div>
                                    {# <div class='social-links'>
                                        <div class='fb-link'>FB</div>
                                        <div class='vk-link'>VK</div>
                                        <div class='tg-link'>Telegram</div>
                                        <div class='comment-link'>Комменты</div>
                                    </div> #}
                                </div>
                                <div class='separator'></div>

                                {% endfor %}
                                
                            </div>

                            <!-- Новости детей -->
                            <div class='news-block child-news' style='display:none;'>
                                {% for n in news %}
                                {% if (n.child>-1) %}
                                <div class='news'>
                                    <div class='news-info'>
                                        <a href=''>Новости {{ (n.child==-1) ? "фонда" : "детей"}}</a>
                                        <span>{{n.createdAt|date('d.m.Y')}}</span>
                                    </div>
                                    <div class='news-name'>{{n.title}}</div>
                                    <div class='news-flex-block'>
                                        <div class='left-half'>
                                            <div class='img-block'>
                                                <iframe width="560" height="315"
                                                    src="{{n.video}}" frameborder="0"
                                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                            </div>
                                        </div>
                                        <div class='right-half'>
                                            <div class='text'>
                                                {{n.descr[:600]}}...
                                            </div>
                                            <div class='link'>
                                                <a href='{{ path('news_detail', {'id' : n.id}) }}'>Подробнее</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='separator'></div>

                                {% endif %}
                                {% endfor %}
                            </div>

                            <!-- Новости фонда-->
                            <div class='news-block fond-news' style='display:none;'>
                                {% for n in news %}
                                {% if (n.child==-1) %}
                                <div class='news'>
                                    <div class='news-info'>
                                        <a href=''>Новости {{ (n.child==-1) ? "фонда" : "детей"}}</a>
                                        <span>{{n.createdAt|date('d.m.Y')}}</span>
                                    </div>
                                    <div class='news-name'>{{n.title}}</div>
                                    <div class='news-flex-block'>
                                        <div class='left-half'>
                                            <div class='img-block'>
                                                <iframe width="560" height="315"
                                                    src="{{n.video}}" frameborder="0"
                                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                            </div>
                                        </div>
                                        <div class='right-half'>
                                            <div class='text'>
                                                {{n.descr[:600]}}...
                                            </div>
                                            <div class='link'>
                                                <a href='{{ path('news_detail', {'id' : n.id}) }}'>Подробнее</a>
                                            </div>
                                        </div>
                                    </div>
                                    {# <div class='social-links'>
                                        <div class='fb-link'>FB</div>
                                        <div class='vk-link'>VK</div>
                                        <div class='tg-link'>Telegram</div>
                                        <div class='comment-link'>Комменты</div>
                                    </div> #}
                                </div>
                                <div class='separator'></div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>
        <div class="container container--small">
                <div class="donate-form-wrapper reports-donate-form-wrapper">
                    {% include 'components/donate_form.twig' %}
                </div>
            </div>


        <!-- Скрипт фильтра новостей-->
        <script>
            $(document).ready(function () {
                $('.cart-nav>div').click(function () {
                    $('.cart-nav>div').each(function () {
                        $(this).removeClass('active');
                    })
                    $(this).addClass('active');

                    $('.news-block').each(function () {
                        $(this).css('display', 'none');
                    });
                    if ($(this).hasClass('left')) {
                        $('.all-news').css('display', 'block');
                    }
                    if ($(this).hasClass('center')) {
                        $('.child-news').css('display', 'block');
                    }
                    if ($(this).hasClass('right')) {
                        $('.fond-news').css('display', 'block');
                    }
                });

            });
        </script>
    </main>

{% endblock %}
