{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/style.bundle.css?v=0.0.4"/>
{% endblock %}

{% block body %}
    <header class="header">
        <div class="container">
            <div class="header-inner">
                <div class="header-right">
                    <div class="header__logo logo-wrapper">
                        <a href="{{ path('main') }}">
                            <img class="header__logo-image" src="/images/logo.png" alt="Помогите детям">
                        </a>
                    </div>
                </div>
                <div class="header-left">
                    <span class="header__notice">Благотворительный фонд помощи детям с ДЦП</span>
                    <nav class="header__navbar">
                        <ul class="nav-links">
                            <li class="nav-links__item">
                                <a class="nav-links__item-link" href="{{ path('children_list') }}">Дети</a>
                            </li>
                            <li class="nav-links__item dropdown">
                                <a class="nav-links__item-link dropdown-link" href="{{ path('main') }}#section-mission">О
                                    Фонде</a>
                                <div class="dropdown-content">
                                    <ul class="nav-links-submenu dropdown-menu">
                                        <li class="nav-links-submenu__item">
                                            <a href="{{ path('news_list') }}" class="nav-links-submenu__item-link">Новости</a>
                                        </li>
                                        <li class="nav-links-submenu__item">
                                            <a href="{{ path('partners') }}" class="nav-links-submenu__item-link">Партнёры</a>
                                        </li>
                                        <li class="nav-links-submenu__item">
                                            <a href="{{ path('docs') }}" class="nav-links-submenu__item-link">Документация</a>
                                        </li>
                                        <li class="nav-links-submenu__item">
                                            <a href="{{ path('reports') }}"
                                                class="nav-links-submenu__item-link">Отчеты</a>
                                        </li>
                                        <li class="nav-links-submenu__item">
                                            <a href="{{ path('contacts') }}" class="nav-links-submenu__item-link">Реквизиты</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-links__item">
                                <a class="nav-links__item-link" href="{{ path('contacts') }}">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="header__user-menu">
                        <ul class="user-menu-links">
                            <li class="user-menu-links__item">
                                <span class="user-menu-links__item-icon">
                                    <span class="icon icon-placemark"></span>
                                </span>
                                <a class="user-menu-links__item-link" href="#">Чебоксары</a>
                            </li>
                            <li class="user-menu-links__item">
                                <span class="user-menu-links__item-icon">
                                    <span class="icon icon-user"></span>
                                </span>
                                <a class="user-menu-links__item-link"
                                   href="{% if is_granted('IS_AUTHENTICATED_FULLY') %} {{ path('account_main') }} {% else %} {{ path('app_login') }} {% endif %}">
                                    Вход в кабинет
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="header__socialbar">
                        <ul class="socialbar-links">
                            <li class="socialbar-links__item">
                                <a href="https://vk.com/fond.detyam" target="_blank" class="socialbar-links__item-link">
                                    <span class="icon icon-vk"></span>
                                </a>
                            </li>
                            <li class="socialbar-links__item">
                                <a href="#" class="socialbar-links__item-link">
                                    <span class="icon icon-facebook"></span>
                                </a>
                            </li>
                            <li class="socialbar-links__item">
                                <a href="https://www.instagram.com/fond.detyam/"
                                    target="_blank"
                                    class="socialbar-links__item-link">
                                    <span class="icon icon-instagram"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="header__contacts">
                        <a class="phone-number" href="tel:88006000906">8 800 600 09 06</a>
                    </div>
                    <div class="header__buttons">
                        <a class="btn btn-light help-button need-help-button" href="{{ path('help') }}">
                            <span class="icon icon-heart"></span>
                            <span>Нужна помощь</span>
                        </a>
                        <a class="btn btn-dark help-button" href="{{ path('donate') }}">Хочу помочь</a>
                    </div>
                </div>
            </div>
            <div class="header-mobile">
                <button class="header-mobile__button js-mobile-menu-button">
                    <span class="icon icon-menu"></span>
                </button>
                <div class="header-mobile__center">
                    <div class="header-mobile__logo">
                        <a class="header-mobile__logo-link" href="/">
                            <img class="header__logo-image img-responsive" src="/images/logo.png" alt="Помогите детям">
                        </a>
                    </div>
                    <span class="header-mobile__notice">Благотворительный фонд помощи детям с ДЦП</span>
                </div>
                <a class="header-mobile__lk" href="#">
                    <span class="icon icon-user"></span>
                </a>

                <div class="header-mobile__menu js-mobile-menu">
                    <nav class="header__navbar header-mobile__menu-navbar">
                        <ul class="nav-links">
                            <li class="nav-links__item">
                                <a class="nav-links__item-link" href="{{ path('children_list') }}">Дети</a>
                            </li>
                            <li class="nav-links__item">
                                <a class="nav-links__item-link" href="{{ path('main') }}#section-mission">О Фонде</a>
                                <ul class="nav-links-submenu">
                                    <li class="nav-links-submenu__item">
                                        <a href="{{ path('news_list') }}" class="nav-links-submenu__item-link">Новости</a>
                                    </li>
                                    <li class="nav-links-submenu__item">
                                        <a href="{{ path('partners') }}" class="nav-links-submenu__item-link">Партнёры</a>
                                    </li>
                                    <li class="nav-links-submenu__item">
                                        <a href="{{ path('docs') }}" class="nav-links-submenu__item-link">Документация</a>
                                    </li>
                                    <li class="nav-links-submenu__item">
                                        <a href="{{ path('reports') }}" class="nav-links-submenu__item-link">Отчеты</a>
                                    </li>
                                    <li class="nav-links-submenu__item">
                                        <a href="{{ path('contacts') }}" class="nav-links-submenu__item-link">Реквизиты</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-links__item">
                                <a class="nav-links__item-link" href="{{ path('contacts') }}">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="header__buttons header-mobile__help-buttons">
                        <a class="btn btn-light help-button need-help-button header-mobile__help-button" href="{{ path('help') }}">
                            <span class="icon icon-heart"></span>
                            <span>Нужна помощь</span>
                        </a>
                        <a class="btn btn-dark help-button header-mobile__help-button" href="{{ path('donate') }}">Хочу помочь</a>
                    </div>
                    <div class="header__socialbar">
                        <ul class="socialbar-links">
                            <li class="socialbar-links__item">
                                <a href="https://vk.com/fond.detyam" target="_blank" class="socialbar-links__item-link">
                                    <span class="icon icon-vk"></span>
                                </a>
                            </li>
                            <li class="socialbar-links__item">
                                <a href="#" class="socialbar-links__item-link">
                                    <span class="icon icon-facebook"></span>
                                </a>
                            </li>
                            <li class="socialbar-links__item">
                                <a href="https://www.instagram.com/fond.detyam/" target="_blank" class="socialbar-links__item-link">
                                    <span class="icon icon-instagram"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="header__user-menu">
                        <ul class="user-menu-links">
                            <li class="user-menu-links__item">
                  <span class="user-menu-links__item-icon">
                    <span class="icon icon-placemark"></span>
                  </span>
                                <a class="user-menu-links__item-link" href="#">Чебоксары</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header-mobile__menu-shadow"></div>
            </div>
        </div>
    </header>

    {% block content %}{% endblock %}

    <footer class="footer">
        <div class="container">
            <div class="footer-inner">
                <div class="footer-right">
                    <div class="footer__logo logo-wrapper">
                        <img src="/images/logo-gray.png" alt="Помогите детям">
                    </div>
                </div>
                <div class="footer-left">
                    <div class="footer-contacts">
                        <div class="footer-contacts__notice">Горячая линия фонда</div>
                        <div class="footer-contacts__phone">
                            <a class="phone-number phone-number--gray" href="tel:88006000906">8 800 600 09 06</a>
                        </div>
                        <div class="footer-contacts__email">
                            <a class="footer-contacts__email-link"
                                href="mailto:fond.detyam@mail.ru">fond.detyam@mail.ru</a>
                        </div>
                        <p class="footer-terms">
                            Все права защищены.<br>
                            Разрешено копирование<br>
                            информации с писменного<br>
                            разрещения<br>
                            администрации ресурса.<br>
                            БФ “Помогите Детям” </p>
                        <div class="footer-socials">
                            <ul class="socialbar-links">
                                <li class="socialbar-links__item">
                                    <a href="#" class="socialbar-links__item-link">
                                        <span class="icon icon-vk-gray"></span>
                                    </a>
                                </li>
                                <li class="socialbar-links__item">
                                    <a href="#" class="socialbar-links__item-link">
                                        <span class="icon icon-facebook-gray"></span>
                                    </a>
                                </li>
                                <li class="socialbar-links__item">
                                    <a href="#" class="socialbar-links__item-link">
                                        <span class="icon icon-instagram-gray"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-menu">
                        <div class="footer-menu__column">
                            <div class="footer-menu-category">
                                <a class="footer-menu-category__link" href="{{ path('children_list') }}">Программы
                                    помощи</a>
                            </div>
                        </div>
                        <div class="footer-menu__column">
                            <div class="footer-menu-category">О Фонде</div>
                            <nav class="footer-menu-nav">
                                <ul class="footernav-links">
                                    <li class="footernav-links__item">
                                        <a href="{{ path('partners') }}" class="footernav-links__item-link">Партнеры</a>
                                    </li>
                                    <li class="footernav-links__item">
                                        <a href="{{ path('news_list') }}" class="footernav-links__item-link">Новости</a>
                                    </li>
                                    <li class="footernav-links__item">
                                        <a href="{{ path('docs') }}" class="footernav-links__item-link">Документация</a>
                                    </li>
                                    <li class="footernav-links__item">
                                        <a href="{{ path('reports') }}" class="footernav-links__item-link">Отчеты</a>
                                    </li>
                                    <li class="footernav-links__item">
                                        <a href="{{ path('contacts') }}"
                                            class="footernav-links__item-link">Реквизиты</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="footer-menu__column">
                            <div class="footer-menu-category">Личный кабинет</div>
                            <nav class="footer-menu-nav">
                                <ul class="footernav-links">
                                    <li class="footernav-links__item">
                                        <a href="{{ path('app_login') }}" class="footernav-links__item-link">Войти в ЛК</a>
                                    </li>
                                    <li class="footernav-links__item">
                                        <a href="{{ path('registration') }}" class="footernav-links__item-link">Зарегистрироваться</a>
                                    </li>
                                    <li class="footernav-links__item">
                                        <a href="{{ path('pass_recovery') }}" class="footernav-links__item-link">Восстановить
                                            пароль</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="footer-menu__column">
                            <div class="footer-menu-category">Реквизиты фонда</div>
                            <p class="mailing-address">
                                Россия, Чувашская Республика,<br/>
                                г. Новочебоксарск,<br/>
                                ул. 10-й Пятилетки, владение 17И<br/>
                                ОГРН 1132100001054<br/>
                                ИНН/КПП 2124999727/212401001 </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/bundle.js?v=0.0.4"></script>
{% endblock %}
