{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/style.bundle.css?v=0.0.4">
    <link rel="stylesheet" href="/css/foopicker.css">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window,document,"script","https://mc.yandex.ru/metrika/tag.js","ym");
        ym(53180137,"init",{clickmap:true,trackLinks:true,accurateTrackBounce:true,webvisor:true});
    </script>
    <script type="text/javascript">!function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src="https://vk.com/js/api/openapi.js?162",t.onload=function(){VK.Retargeting.Init("VK-RTRG-403509-3HmIc"),VK.Retargeting.Hit()},document.head.appendChild(t)}();</script><noscript><img src="https://vk.com/rtrg?p=VK-RTRG-403509-3HmIc" style="position:fixed; left:-999px;" alt=""/></noscript>
    <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '910729245949123');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=910729245949123&ev=PageView&noscript=1"/></noscript>
<!-- End Facebook Pixel Code -->
{% endblock %}

{% block body %}
    <header class="header">
        <div class="container">
            <div class="header-inner">
                <div class="header-right">
                    <div class="header__logo logo-wrapper">
                        <a href="{{ path('main') }}">
                            <img class="header__logo-image" src="/images/logo.png" alt="Помогите детям">
                        </a>
                    </div>
                </div>
                <div class="header-left">
                    <span class="header__notice">Благотворительный фонд помощи детям с ДЦП</span>
                    <nav class="header__navbar">
                        <ul class="nav-links">
                            <li class="nav-links__item">
                                <a class="nav-links__item-link" href="{{ path('children_list') }}">Дети</a>
                            </li>
                            <li class="nav-links__item dropdown">
                                <a class="nav-links__item-link dropdown-link" href="{{ path('main') }}#section-mission">О
                                    Фонде</a>
                                <div class="dropdown-content">
                                    <ul class="nav-links-submenu dropdown-menu">                                        
                                        <li class="nav-links-submenu__item">
                                            <a href="{{ path('partners') }}" class="nav-links-submenu__item-link">Партнёры</a>
                                        </li>
                                        <li class="nav-links-submenu__item">
                                            <a href="{{ path('docs') }}" class="nav-links-submenu__item-link">Документация</a>
                                        </li>
                                        <li class="nav-links-submenu__item">
                                            <a href="{{ path('reports') }}"
                                               class="nav-links-submenu__item-link">Отчеты</a>
                                        </li>
                                        <li class="nav-links-submenu__item">
                                            <a href="{{ path('contacts') }}" class="nav-links-submenu__item-link">Реквизиты</a>
                                        </li>
                                        {# <li class="nav-links-submenu__item">
                                        <a href="{{ path('sms') }}"
                                           class="nav-links-submenu__item-link">Оплата с помощью SMS</a>
                                        </li> #}
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-links__item">
                                <a class="nav-links__item-link" href="{{ path('contacts') }}">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="header__user-menu">
                        <ul class="user-menu-links">
                            <li class="user-menu-links__item">
                                <span class="user-menu-links__item-icon">
                                    <span class="icon icon-placemark"></span>
                                </span>
                                <a class="user-menu-links__item-link" href="#">Чебоксары</a>
                            </li>
                            <li class="user-menu-links__item">
                                <span class="user-menu-links__item-icon">
                                    <span class="icon icon-user"></span>
                                </span>
                                <a class="user-menu-links__item-link"
                                   href="{{ path(is_granted('IS_AUTHENTICATED_FULLY') ? 'account_main' : 'app_login') }}">
                                    Личный кабинет
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="header__socialbar">
                        <ul class="socialbar-links">
                            <li class="socialbar-links__item">
                                <a href="https://vk.com/pomogite.detyam" target="_blank" class="socialbar-links__item-link">
                                    <span class="icon icon-vk"></span>
                                </a>
                            </li>
                            <li class="socialbar-links__item">
                                <a href="https://www.facebook.com/Благотворительный-фонд-Помогите-детям-297299794535021/" target="_blank" class="socialbar-links__item-link">
                                    <span class="icon icon-facebook"></span>
                                </a>
                            </li>
                            <li class="socialbar-links__item">
                                <a href="https://www.instagram.com/pomogite.detyam/"
                                   target="_blank"
                                   class="socialbar-links__item-link">
                                    <span class="icon icon-instagram"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="header__contacts">
                        <a class="phone-number" href="tel:88006000906">8 800 600 09 06</a>
                    </div>
                    <div class="header__buttons">
                        <a class="btn btn-light help-button need-help-button" href="{{ path('help') }}">
                            <span class="icon icon-heart"></span>
                            <span>Нужна помощь</span>
                        </a>
                        <a class="btn btn-dark help-button" href="{{ path('donate') }}">Хочу помочь</a>
                    </div>
                </div>
            </div>
            <div class="header-mobile">
                <button class="header-mobile__button js-mobile-menu-button">
                    <span class="icon icon-menu"></span>
                </button>
                <div class="header-mobile__center">
                    <div class="header-mobile__logo">
                        <a class="header-mobile__logo-link" href="/">
                            <img class="header__logo-image img-responsive" src="/images/logo.png" alt="Помогите детям">
                        </a>
                    </div>
                    <span class="header-mobile__notice">Благотворительный фонд помощи детям с ДЦП</span>
                </div>
                <a class="header-mobile__lk" href="{{ path(is_granted('IS_AUTHENTICATED_FULLY') ? 'account_main' : 'app_login') }}">
                    <span class="icon icon-user"></span>
                </a>

                <div class="header-mobile__menu js-mobile-menu">
                    <nav class="header__navbar header-mobile__menu-navbar">
                        <ul class="nav-links">
                            <li class="nav-links__item">
                                <a class="nav-links__item-link" href="{{ path('children_list') }}">Дети</a>
                            </li>
                            <li class="nav-links__item">
                                <a class="nav-links__item-link" href="{{ path('main') }}#section-mission">О Фонде</a>
                                <ul class="nav-links-submenu">                                    
                                    <li class="nav-links-submenu__item">
                                        <a href="{{ path('partners') }}"
                                           class="nav-links-submenu__item-link">Партнёры</a>
                                    </li>
                                    <li class="nav-links-submenu__item">
                                        <a href="{{ path('docs') }}"
                                           class="nav-links-submenu__item-link">Документация</a>
                                    </li>
                                    <li class="nav-links-submenu__item">
                                        <a href="{{ path('reports') }}" class="nav-links-submenu__item-link">Отчеты</a>
                                    </li>
                                    <li class="nav-links-submenu__item">
                                        <a href="{{ path('contacts') }}"
                                           class="nav-links-submenu__item-link">Реквизиты</a>
                                    </li>
                                    {# <li class="nav-links-submenu__item">
                                        <a href="{{ path('sms') }}"
                                           class="nav-links-submenu__item-link">Оплата с помощью SMS</a>
                                    </li>                                     #}
                                </ul>
                            </li>
                            <li class="nav-links__item">
                                <a class="nav-links__item-link" href="{{ path('contacts') }}">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="header__buttons header-mobile__help-buttons">
                        <a class="btn btn-light help-button need-help-button header-mobile__help-button"
                           href="{{ path('help') }}">
                            <span class="icon icon-heart"></span>
                            <span>Нужна помощь</span>
                        </a>
                        <a class="btn btn-dark help-button header-mobile__help-button" href="{{ path('donate') }}">
                            Хочу помочь
                        </a>
                    </div>
                    <div class="header__socialbar">
                        <ul class="socialbar-links">
                            <li class="socialbar-links__item">
                                <a href="https://vk.com/pomogite.detyam" target="_blank" class="socialbar-links__item-link">
                                    <span class="icon icon-vk"></span>
                                </a>
                            </li>
                            <li class="socialbar-links__item">
                                <a href="https://www.facebook.com/Благотворительный-фонд-Помогите-детям-297299794535021/" target="_blank" class="socialbar-links__item-link">
                                    <span class="icon icon-facebook"></span>
                                </a>
                            </li>
                            <li class="socialbar-links__item">
                                <a href="https://www.instagram.com/pomogite.detyam/" target="_blank"
                                   class="socialbar-links__item-link">
                                    <span class="icon icon-instagram"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="header__user-menu">
                        <ul class="user-menu-links">
                            <li class="user-menu-links__item">
                                <span class="user-menu-links__item-icon">
                                    <span class="icon icon-placemark"></span>
                                </span>
                                <a class="user-menu-links__item-link" href="#">Чебоксары</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header-mobile__menu-shadow"></div>
            </div>
        </div>
    </header>

    {% block content %}{% endblock %}

    <footer class="footer">
        <div class="container">
            <div class="footer-inner">
                <div class="footer-right">
                    <div class="footer__logo logo-wrapper">
                        <img src="/images/logo-gray.png" alt="Помогите детям">
                    </div>
                </div>
                <div class="footer-left">
                    <div class="footer-contacts">
                        <div class="footer-contacts__notice">Горячая линия фонда</div>
                        <div class="footer-contacts__phone">
                            <a class="phone-number phone-number--gray" href="tel:88006000906">8 800 600 09 06</a>
                        </div>
                        <div class="footer-contacts__email">
                            <a class="footer-contacts__email-link"
                               href="mailto:fond.detyam@mail.ru">fond.detyam@mail.ru</a>
                        </div>
                        <p class="footer-terms">
                            Все права защищены.<br>
                            Разрешено копирование<br>
                            информации с письменного<br>
                            разрешения<br>
                            администрации ресурса.<br>
                            БФ “Помогите Детям” </p>
                        <div class="footer-socials">
                            <ul class="socialbar-links">
                                <li class="socialbar-links__item">
                                    <a href="https://vk.com/pomogite.detyam" target="_blank"
                                       class="socialbar-links__item-link">
                                        <span class="icon icon-vk-gray"></span>
                                    </a>
                                </li>
                                <li class="socialbar-links__item">
                                    <a href="https://www.facebook.com/Благотворительный-фонд-Помогите-детям-297299794535021/" target="_blank" class="socialbar-links__item-link">
                                        <span class="icon icon-facebook-gray"></span>
                                    </a>
                                </li>
                                <li class="socialbar-links__item">
                                    <a href="https://www.instagram.com/pomogite.detyam/" target="_blank"
                                       class="socialbar-links__item-link">
                                        <span class="icon icon-instagram-gray"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-menu">
                        <div class="footer-menu__column">
                            <div class="footer-menu-category">Программы помощи</div>
                            <nav class="footer-menu-nav">
                                <ul class="footernav-links">
                                    <li class="footernav-links__item">
                                        <a href="{{ path('children_list') }}" class="footernav-links__item-link">Долгосрочная опека</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="footer-menu__column">
                            <div class="footer-menu-category">О Фонде</div>
                            <nav class="footer-menu-nav">
                                <ul class="footernav-links">
                                    <li class="footernav-links__item">
                                        <a href="{{ path('partners') }}" class="footernav-links__item-link">Партнеры</a>
                                    </li>                                    
                                    <li class="footernav-links__item">
                                        <a href="{{ path('docs') }}" class="footernav-links__item-link">Документация</a>
                                    </li>
                                    <li class="footernav-links__item">
                                        <a href="{{ path('reports') }}" class="footernav-links__item-link">Отчеты</a>
                                    </li>
                                    <li class="footernav-links__item">
                                        <a href="{{ path('contacts') }}"
                                           class="footernav-links__item-link">Реквизиты</a>
                                    </li>
                                    {# <li class="footernav-links__item">
                                        <a href="{{ path('sms') }}"
                                           class="footernav-links__item-link">Оплата с помощью SMS</a>
                                    </li> #}
                                </ul>
                            </nav>
                        </div>
                        <div class="footer-menu__column">
                            <div class="footer-menu-category">Личный кабинет</div>
                            <nav class="footer-menu-nav">
                                <ul class="footernav-links">
                                    <li class="footernav-links__item">
                                        <a href="{{ path('app_login') }}" class="footernav-links__item-link">
                                            Войти в ЛК
                                        </a>
                                    </li>
                                    <li class="footernav-links__item">
                                        <a href="{{ path('registration') }}" class="footernav-links__item-link">
                                            Зарегистрироваться
                                        </a>
                                    </li>
                                    <li class="footernav-links__item">
                                        <a href="{{ path('pass_recovery') }}" class="footernav-links__item-link">
                                            Восстановить пароль
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="footer-menu__column">
                            <div class="footer-menu-category">Реквизиты фонда</div>
                            <p class="mailing-address">
                                Россия, Чувашская Республика,<br/>
                                г. Новочебоксарск,<br/>
                                ул. 10-й Пятилетки, владение 17И<br/>
                                ОГРН 1132100001054<br/>
                                ИНН/КПП 2124999727/212401001 </p>
                           <p class="mailing-address"><a href="http://alfagenesis.ru" style="text-decoration: none;color: #8b9cae;"><br>Разработка и поддержка системы
	<br> - студия "Альфа Генезис"</a></p><a href="http://alfagenesis.ru" target="_blank"><img class="img-responsive" src="/images/partners-alfagenesis.png" alt="Партнер Разработка интернет решений (сайтов) - студия ALFA GENESIS" width="150" style="opacity: 0.5;"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/bundle.js?v=0.0.4"></script>
    <script src="/js/validate.js"></script>
    <script src="/js/foopicker.js"></script>
{% endblock %}
