<div class="account-nav">
    <nav class="account-navbar">
        <ul class="account-links">
            <li class="account-links__item account-links__item--active">
                <a href="{{ path('account_main') }}" class="account-links__item-link">Главная</a>
            </li>
            <li class="account-links__item">
                <a href="{{ path('account_myaccount') }}" class="account-links__item-link">Мой аккаунт</a>
            </li>
            <li class="account-links__item">
                <a href="{{ path('account_history') }}" class="account-links__item-link">Мои пожертвования</a>
            </li>
            <li class="account-links__item">
                <a href="{{ path('account_referrals') }}" class="account-links__item-link">Реферальная программа</a>
            </li>
            <li class="account-links__item">
                <a href="{{ path('account_recurrent') }}" class="account-links__item-link">Регулярные платежи</a>
            </li>
            <li class="account-links__item">
                <a href="{{ path('app_logout') }}" class="account-links__item-link">Выйти из кабинета</a>
            </li>
        </ul>
    </nav>
</div>
