<div class="account-nav">
    <div class="account-nav__current">
        <button class="account-nav__button js-account-nav-button">
            <span class="icon icon-menu"></span>
        </button>
        <p class="account-nav__current-title">
            {% set path = app.request.get('_route')[:12] %}
            {{ path == 'account_main' ? 'Главная'
            : path == 'account_myac' ? 'Мой аккаунт'
            : path == 'account_hist' ? 'Мои пожертвования'
            : path == 'account_refe' ? 'Поможем вместе'
            : path == 'account_recu' ? 'Регулярные платежи' }}
        </p>
    </div>
    <nav class="account-navbar">
        <ul class="account-links">
            <li class="account-links__item{{ path == 'account_main' ? ' account-links__item--active' }}">
                <a href="{{ path('account_main') }}" class="account-links__item-link">Главная</a>
            </li>
            <li class="account-links__item{{ path == 'account_myac' ? ' account-links__item--active' }}">
                <a href="{{ path('account_myaccount') }}" class="account-links__item-link">Мой аккаунт</a>
            </li>
            <li class="account-links__item{{ path == 'account_hist' ? ' account-links__item--active' }}">
                <a href="{{ path('account_history') }}" class="account-links__item-link">Мои пожертвования</a>
            </li>
            <li class="account-links__item{{ path == 'account_refe' ? ' account-links__item--active' }}">
                <a href="{{ path('account_referrals') }}" class="account-links__item-link">Поможем вместе</a>
            </li>
            <li class="account-links__item{{ path == 'account_recu' ? ' account-links__item--active' }}">
                <a href="{{ path('account_recurrent') }}" class="account-links__item-link">Регулярные платежи</a>
            </li>
            <li class="account-links__item">
                <a href="{{ path('app_logout') }}" class="account-links__item-link">Выйти из кабинета</a>
            </li>
        </ul>
    </nav>
</div>
