{% extends 'base_client_wrapper.twig' %}

{% block title %}Log in!{% endblock %}

{% block content %}
    <main>
        <section class="section hero-login">
            <div class="container">
                <div class="login-wrapper">
                    <form class="login-form js-login-form" method="POST">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <div class="login-form__title">Войти</div>
                        <div class="login-form-row">
                            <input type="email"
                                value="{{ email }}"
                                name="email"
                                id="inputEmail"
                                class="input-rounded"
                                placeholder="Введите логин"
                                required
                                autofocus>
                        </div>
                        <div class="login-form-row">
                            <input class="input-rounded" type="password" name="password" placeholder="Введите пароль"/>
                        </div>
                        <div class="login-form-row login-form-row-remind">
                            <a href="{{ path('pass_recovery') }}" class="forgot-password-link">Забыли пароль?</a>
                        </div>
                        <div class="login-form-row">
                            <button class="btn btn--big btn-dark login-form-submit" type="submit">Войти</button>
                        </div>
                    </form>
                    <div class="another-way-auth">
                        <div class="another-way-auth__col">
                            <p>Вход через соцсеть</p>
                            <ul class="socialbar-links">
                                <li class="socialbar-links__item">
                                    <a href="https://vk.com/fond.detyam"
                                        target="_blank"
                                        class="socialbar-links__item-link">
                                        <span class="icon icon-vk"></span>
                                    </a>
                                </li>
                                <li class="socialbar-links__item">
                                    <a href="#" class="socialbar-links__item-link">
                                        <span class="icon icon-facebook"></span>
                                    </a>
                                </li>
                                <li class="socialbar-links__item">
                                    <a href="https://www.instagram.com/fond.detyam/"
                                        target="_blank"
                                        class="socialbar-links__item-link">
                                        <span class="icon icon-instagram"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="another-way-auth__col">
                            <p>или</p>
                            <div>
                                <a href="{{ path('registration') }}" class="auth-link">Зарегистрироваться</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
