{% extends 'base_client_wrapper.twig' %}

{% block title %}БФ “Помогите Детям” | Авторизация{% endblock %}
{% block desciption %}БФ “Помогите Детям” | Авторизация{% endblock %}
{% block keywords %}Авторизация{% endblock %}

{% block content %}
    <main>
        <section class="section hero-login">
            <div class="container">
                <div class="login-wrapper">
                    <form class="login-form js-login-form" method="POST" action="?url={{url}}">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <input type="hidden" name="_target_path" value="/donate"/>
                        <div class="login-form__title">Войти</div>
                        <div class="login-form-row">
                            <input type="text"
                                value="{{ email }}"
                                name="email"
                                id="inputEmail"
                                class="input-rounded"
                                placeholder="Введите почту"
                                onclick="hideError('loginError');"
                                autofocus>
                            <div id="loginError" class="form-error-tooltip" style="display: none; width: 200px; position: relative; left:0px; top:-1px;">
                                <div class="form-error-tooltip__arrow"></div>
                                <p class="form-error-tooltip__notice">Введите почту</p>
                            </div>
                        </div>
                        <div class="login-form-row">
                            <input id="inputPassword" class="input-rounded" type="password" name="password" 
                            placeholder="Введите пароль" onclick="hideError('passwordError');"/>
                            <div id="passwordError" class="form-error-tooltip" style="display: none; width: 200px; position: relative; left:0px; top:-1px;">
                                <div class="form-error-tooltip__arrow"></div>
                                <p class="form-error-tooltip__notice">Введите пароль</p>
                            </div>
                        </div>
                        <div class="login-form-row login-form-row-remind">
                            <a href="{{ path('pass_recovery') }}" class="forgot-password-link">Забыли пароль?</a>
                        </div>
                        <div class="login-form-row">
                            <button class="btn btn--big btn-dark login-form-submit" type="submit" onclick="return validate_login();">Войти</button>
                        </div>
                        {% if error %}
                            <div class="alert alert-danger new-alert">
                                {{ error.message }}                                
                            </div>
                        {% endif %}
                    </form>
                    <div class="another-way-auth__col">
                            <p>или</p>
                            <div>
                                <a href="{{ path('registration') }}" class="auth-link">Зарегистрироваться</a>
                            </div>
                    </div>                    
                </div>
            </div>
        </section>
    </main>
{% endblock %}
