{% extends 'base_client_wrapper.twig' %}

{% block title %}БФ “Помогите Детям” | Восстановление пароля{% endblock %}
{% block desciption %}БФ “Помогите Детям” | Восстановление пароля{% endblock %}
{% block keywords %}Восстановление{% endblock %}

{% block content %}
    <style>
        #form div {
            margin: auto;
        }
    </style>

    <main>
        <section class="section hero-login">
            <div class="container">
                <div class="login-wrapper">
                    {{ form_start(form, {'attr':{'class':'login-form'}}) }}
                    <div class="login-form__title">{{ title }}</div>                       
                    <div class="login-form-group">
                        <div style="width: 200px; margin: 0 auto;">
                            {{ form_widget(form.password.first, {'attr': {'class':'input-rounded', 'style':'width:100%; height:55px', 'placeholder': 'Введите пароль', 'onclick': "hideError('pass');"}}) }}
                            <div id="pass" class="form-error-tooltip" style="display: none; width: 100%; position: relative; left:0px; top:-1px;">
                                <div class="form-error-tooltip__arrow"></div>
                                <p class="form-error-tooltip__notice">Пароль должен содержать 8 символов и включать в себя: цифры, латинские строчные и прописные буквы</p>
                            </div>
                        </div>                    
                        <div style="width: 200px; margin: 0 auto;">
                            {{ form_widget(form.password.second, {'attr': {'class':'input-rounded', 'style':'width:100%; margin-top: 5px; height:55px', 'placeholder': 'Повторите пароль', 'onclick': "hideError('confirm');"}}) }}
                            <div id="confirm" class="form-error-tooltip" style="display:none; width: 100%; position: relative; left:0px; top:-1px;">
                                <div class="form-error-tooltip__arrow"></div>
                                <p class="form-error-tooltip__notice">Пароли не совпадают</p>
                            </div>
                        </div>
                    </div>
                    <div class="login-form-row">
                        <input class="btn btn--big btn-dark login-form-submit" style="padding:1.5rem 6rem;" type="submit" value="{{ value }}" onclick="return validate_reset();">
                    </div>
                    {{ form_widget(form, {'attr':{'class':'login-form-row registration-form-row'}}) }}
                    <div>                        
                        {{ form_errors(form.password) }}
                    </div>
                    {{ form_end(form) }}                                         
                        <div class="another-way-auth__col">
                            <p>или</p>
                            <div>
                                <a href="{{ path('app_login') }}" class="auth-link">Войти</a>
                            </div>
                        </div>                    
                </div>
            </div>
        </section>
    </main>
{% endblock %}
