{% extends 'base_panel_wrapper.twig' %}

{% block content %}
    <div class="container">
        {% include 'panel/menu.twig' %}
        <div class="row" style="background-color: #f1f2f3; padding: 20px 40px;">
            <div class="col-sm">
                <h1>Редактор документов:</h1>
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.title, 'Название') }}
                    <div class="err_list form-text text-muted">{{ form_errors(form.title) }}</div>
                    {{ form_widget(form.title, {'attr': {'class':'form-control', 'placeholder': 'Документ', 'value': document.title }}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.category, 'Категория') }}
                    <div class="err_list form-text text-muted">{{ form_errors(form.category) }}</div>
                    {{ form_widget(form.category, {'attr': {'class':'form-control', 'value': document.category}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.category, 'Дата') }}
                    <div class="err_list form-text text-muted">{{ form_errors(form.date) }}</div>
                    {{ form_widget(form.date, {'attr': {'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.description, 'Описание') }}
                    <div class="err_list form-text text-muted">{{ form_errors(form.description) }}</div>
                    {{ form_widget(form.description, {'attr': {'class':'form-control', 'placeholder': 'Описание документа', 'value': document.description, 'required': false}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.file, 'Документ') }}
                    <div class="err_list form-text text-muted">{{ form_errors(form.file) }}</div>
                    {{ form_widget(form.file, {'attr': {'class':'form-control', 'placeholder': 'Файл' }}) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
